<form method="post" action="">
    {% csrf_token %}
    <div class="modal-header">
        <h3 class="modal-title">Delete Account</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure?</p>
        <p>All your data will be deleted and cannot be retrieved.</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Delete account</button>
    </div>
</form>
