{% extends 'base_single_card.html' %}

{% block title %}BRIT user profile{% endblock %}

{% block card_header %}Your User Profile{% endblock %}

{% block card_body %}

    <div>
        <p><b>Username:</b> {{ user.username }}</p>
        <p><b>E-Mail:</b> {{ user.email }}</p>
        <p><b>Account management:</b></p>
    </div>

    <div class="pt-3">
        <a href="{% url 'auth_password_change' %}" class="btn btn-primary w-100">
            Change password
        </a>
    </div>

    <div class="pt-3">
        <a href="{% url 'user_delete' pk=user.pk %}" class="btn btn-danger w-100 modal-link">
            Delete Account
        </a>
    </div>

{% endblock card_body %}