<div class="card">
    <div class="card-header py-3" role="tab">
            <a data-bs-toggle="collapse" href="#{{ div.css_id }}" aria-expanded="{{ div.active|yesno:'true,false' }}"
               aria-controls="{{ div.css_id }}">
                <h5 class="mb-0">{{ div.name }}</h5>
            </a>
    </div>

    <div id="{{ div.css_id }}" class="collapse{% if div.active %} show{% endif %}" role="tabpanel"
         aria-labelledby="{{ div.css_id }}" data-bs-parent="#{{ div.data_parent }}">
        <div class="card-body">
            {{ fields|safe }}
        </div>
    </div>
</div>