{% load crispy_forms_field %}

<div class="form-group {{ wrapper_class }}">
    <label for="{{ field.id_for_label }}">
        {{ field.label }}{% if field.field.required %}*{% endif %}
    </label>

    <div class="input-group">
        {% crispy_field field 'class' 'form-control' %}

        <div class="input-group-append">
            {% with create_url=field.field.queryset.model.modal_create_url %}
                <a href="#"
                   data-href="{{ create_url }}"
                   class="btn btn-outline-secondary modal-fk-create"
                   data-async-url="{{ field.field.queryset.model.options_list_url }}"
                   data-for-field="#{{ field.id_for_label }}"
                   data-select="#{{ field.auto_id }}">
                    <i class="fas fa-plus"></i>
                </a>
            {% endwith %}
        </div>
    </div>
</div>