{% load static %}

<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <h1 class="d-none d-sm-block d-lg-none">
        BRIT
    </h1>
    <h1 class="d-none d-sm-none d-lg-block">
        Bioresource Information Tool
    </h1>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        {% if user.is_authenticated %}
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                    <img class="img-profile rounded-circle" src="{% static 'img/profile_placeholder.svg' %}" width="32" height="32" alt="User profile picture">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-end shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'user_profile' %}" id="userProfileLink">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
{#                    <a class="dropdown-item" href="#">#}
{#                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>#}
{#                        Settings#}
{#                    </a>#}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" id="logoutLink">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_login' %}">
                    <i class="fas fa-sign-in-alt fa-sm fa-fw mr-1"></i>
                    <span class="d-none d-lg-inline">Login</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registration_register' %}">
                    <i class="fas fa-user-plus fa-sm fa-fw mr-1"></i>
                    <span class="d-none d-lg-inline">Register</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>