{% load static %}
{% load cookie_consent_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The tool for categorization and inventorization of bioresources, including GIS">
    <meta name="author" content="Phillipp Lüssenhop">
    {% block meta %}{% endblock meta %}

    <title>{% block title %}BRIT | Bioresource Information Tool{% endblock title %}</title>
    {% include 'partials/_analytics.html' %}

    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!-- Custom fonts for this template-->
    <link href="{% static 'lib/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/jquery-ui/css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/jquery-ui/css/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/jquery-ui/css/jquery-ui.theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/bootstrap4-toggle/css/bootstrap4-toggle.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/brit.min.css' %}" rel="stylesheet">

    {% block style_sheets %}{% endblock style_sheets %}

    <style>{% block style %}{% endblock style %}</style>

</head>


<body id="page-top">

<div id="wrapper">
    {% include 'partials/_sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            {% include 'partials/_topbar.html' %}
            <div class="container-fluid">
                {% block content %}{% endblock content %}
            </div>
        </div>
        {% include 'partials/_footer.html' %}
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'auth_logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Container -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery-ui/js/jquery-ui.min.js' %}"></script>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'lib/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'lib/bootstrap4-toggle/js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src={% static "cookie_consent/cookiebar.js" %}></script>

<!-- Page level plugins -->
<script src="{% static 'lib/chart.js/Chart.min.js' %}"></script>

{% block javascript %}
    <script type="text/javascript">

        $(document).ready(function() {

            $("#sidebarToggle").click();

            $(".modal-link").each(function() {
                $(this).modalForm({
                    formURL: $(this).attr("href"),
                    errorClass: ".is-invalid"
                });
                $(this).attr("href", "javascript:void(0)");
            });
        });

    </script>

    <script type="{% js_type_for_cookie_consent request "social" "*:.google.com" %}" data-varname="social">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

    {% if request|cookie_consent_enabled %}
        {% not_accepted_or_declined_cookie_groups request as cookie_groups %}

        {% if cookie_groups %}
            {% url "cookie_consent_cookie_group_list" as url_cookies %}
            {% cookie_consent_accept_url cookie_groups as url_accept %}
            {% cookie_consent_decline_url cookie_groups as url_decline %}
            <script type="text/javascript">
                const cookie_groups = [];
                {% for cookie_group in cookie_groups %}
                    cookie_groups.push("{{ cookie_group.varname }}");
                {% endfor %}

                function ready(fn) {
                    if (document.readyState !== 'loading') {
                        fn();
                    } else if (document.addEventListener) {
                        document.addEventListener('DOMContentLoaded', fn);
                    } else {
                        document.attachEvent('onreadystatechange', function() {
                            if (document.readyState !== 'loading') {
                                fn();
                            }
                        });
                    }
                }

                ready(function() {
                    showCookieBar({
                        content: '<div class="fixed-bottom cookie-bar p-4"><div class="bg-secondary text-white border w-100 mw-100" role="alert" data-autohide="false"><div class="p-4 d-flex flex-column"><h4>Cookies</h4><p>This site requires cookies to function properly. On top of the essential cookies, we would also like to use Google Analytics to learn about how this site is used. Please let us know if you accept this. Press "Config" for more detailed options.</p><div class="ml-auto"><a href="{{ url_accept }}" class="cc-cookie-accept btn btn-light mr-3">Accept</a><a href="{{ url_decline }}" class="cc-cookie-decline btn btn-outline-light mr-3">Decline</a><a href="{{ url_cookies }}" class="btn btn-outline-light">Config</a></div></div></div></div>',
                        cookie_groups: cookie_groups,
                        cookie_decline: "{% get_decline_cookie_groups_cookie_string request cookie_groups %}",
                        beforeDeclined: function() {
                            document.cookie = "{% get_decline_cookie_groups_cookie_string request cookie_groups %}";
                        }
                    });
                });
            </script>
        {% endif %}
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const logoutLink = document.getElementById('logoutLink');

            if (logoutLink) {
                logoutLink.addEventListener('click', function(event) {
                    event.preventDefault(); // Prevent the default link behavior

                    // Make an AJAX POST request to log the user out
                    fetch("{% url 'auth_logout' %}", {
                        method: "POST",
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        }
                    }).then(response => {
                        if (response.ok) {
                            // Reload the current page if the logout was successful
                            window.location.reload();
                        } else {
                            // If the reload might result in a 403, redirect to the start page
                            window.location.href = "/";
                        }
                    }).catch(() => {
                        // Handle network or other errors
                        window.location.href = "/";
                    });
                });
            }
        });
    </script>
{% endblock javascript %}

</body>

</html>
