{% load static %}
{% load cookie_consent_tags %}
{% load django_tomselect %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The Bioresource Information Tool (BRIT) provides information about sources, quantities and properties of residue-based bioresources.">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}">
    <meta name="author" content="Phillipp Lüssenhop">
    {% block meta %}{% endblock meta %}

    <title>{% block title %}BRIT | Bioresource Information Tool{% endblock title %}</title>
    {% include 'partials/_analytics.html' %}
    <!-- Bootstrap CSS from CDN (base styles) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- DataTables and other plugins -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    
    <!-- Our custom theme (must be loaded AFTER Bootstrap to override styles) -->
    <link href="{% static 'css/brit-theme.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.css">
    {% tomselect_media %}
    {% block style_sheets %}{% endblock style_sheets %}
    {% block custom_style %}{% endblock custom_style %}
</head>

<body class="sb-nav-fixed">

    {% include "partials/_topbar.html" %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% include "partials/_sidebar.html" %}
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid p-4">
                    <h1>Bioresource Information Tool</h1>
                    <div class="my-4"></div>
                    <!-- <ol class="breadcrumb my-4">
                        <li class="breadcrumb-item active">Breadcrumbs</li>
                    </ol> -->
                    {% block content %}{% endblock content %}
                </div>
            </main>
            {% include "partials/_footer.html" %}
        </div>
    </div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'auth_logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>

{% include 'includes/modal_container.html' %}
{% include 'partials/_cookie_bar.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js"></script>
<script src="{% static 'js/bootstrap5.modal.forms.min.js' %}"></script>
<script src="{% static 'js/modal_links.js' %}"></script>
<script src="{% static 'js/sidebar.min.js' %}"></script>
<script src="{% static 'js/logout.min.js' %}"></script>

{% block javascript %}{% endblock %}

{% block form_media %}
    {#    Due to compatibility issues between django-crispy-forms and django-autocomplete-light, this block is needed to #}
    {#    manage form media AFTER the main javascript block has run.#}
{% endblock form_media %}

</body>

</html>
