{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="card-deck  col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
            <div class="card shadow ">
                <div class="card-header"><b>{% block card_header %}{% endblock card_header %}</b></div>
                <div class="card-body p-5">{% block card_body %}{% endblock card_body %}</div>
                <div class="card-footer">{% block card_footer %}{% endblock card_footer %}</div>
            </div>
        </div>
    </div>
{% endblock content %}