{% extends 'base.html' %}
{% load static %}

{% block title %}Contributors{% endblock %}

{% block content %}
    <div class="card-deck">
        <div class="card shadow">
            <div class="card-header"><b>Contact</b></div>
            <div class="card-body">
                <p>
                    This tool is operated and maintained by:
                </p>
                <p><b>Bioresource Management Group (BIEM)</b></p>
                <p>based at:</p>
                <p>
                    Hamburg University of Technology (TUHH)<br>
                    Institute of Wastewater Management and Water Protection<br>
                        Eißendorfer Str. 42<br>
                        21073 Hamburg, Germany
                    </p>
                <p>
                    <b>Contact:</b>
                </p>
                <p>
                    Phillipp Lüssenhop<br>
                    info@bioresource-tools.net<br>
                    Phone: (+49) 40 42878 4292
                </p>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header"><b>History</b></div>
            <div class="card-body">

                <p>
                    This BRIT prototype is part of the Decision Support Tool developed in the
                    FLEXIBI project. The development in FLEXIBI included the core modules "Bibliography", "Maps",
                    "Materials" and "Inventories" as well as models and data for the case studies "Greenhouses in
                    Nantes" and "Roadside trees in Hamburg". To find out more about the project and all involved
                    partners, please visit the official project website:
                </p>
                <a class="sidebar-brand d-flex align-items-center justify-content-center"
                   href="http://www.flexibi-biorefineries.eu" target="_blank">
                    <img
                            class="img-fluid"
                            src="{% static 'img/LOGO_Flexibi_Farbe.png' %}"
                                style="width: 50%"
                                alt="Flexibi logo"
                        >
                    </a>
                    <p>
                        <a class="sidebar-brand d-flex align-items-center justify-content-center"
                           href="http://www.flexibi-biorefineries.eu" target="_blank">

                        </a>
                    </p>
                <p>
                    <a href="http://www.flexibi-biorefineries.eu" target="_blank">
                        http://www.flexibi-biorefineries.eu
                    </a>
                </p>
                <p>
                    FLEXIBI is a project of the ERA-NET
                    <a href="https://projects.au.dk/faccesurplus/" target="_blank">FACCE SURPLUS</a>.
                </p>
                <p>
                    <a class="d-flex align-items-center justify-content-center"
                       href="https://projects.au.dk/faccesurplus/" target="_blank">
                        <img
                                class="funding-logo"
                                src="{% static 'img/facce-logo.png' %}"
                                style="width: 80%"
                                alt="Facce Surplus logo"
                        >
                    </a>
                </p>
                <hr/>
                <p>
                    Currently, BRIT is improved and extended in the SOILCOM project. In this project the
                    functionality of the core modules was adapted to fit the special needs of modelling the SOILCOM
                    composting case studies. Further, the tool is extended with a complete new model of household
                    biowaste collections and an interface with <a href="https://www.simucf.de">SimuCF</a>, a
                    simulation tool for aerobic and anaerobic digestion processes. To find out more about the
                    SOILCOM project and the associated partners, please visit: <a></a>
                </p>
                <p>
                    <a class="d-flex align-items-center justify-content-center"
                       href="https://northsearegion.eu/soilcom/" target="_blank">
                        <img
                                class="img-fluid"
                                src="{% static 'img/soilcom_logo.png' %}"
                                style="width: 50%"
                                alt="Soilcom logo"
                        >
                    </a>
                </p>
                <p>
                    <a href="https://northsearegion.eu/soilcom/" target="_blank">
                        https://northsearegion.eu/soilcom/
                    </a>
                </p>
                <p>SOILCOM is an Interreg North Sea Region project.</p>
                <p>
                    <a class="d-flex align-items-center justify-content-center"
                       href="https://northsearegion.eu/" target="_blank">
                        <img
                                class="img-fluid"
                                src="{% static 'img/interreg_with_soilcom_logo.png' %}"
                                style="width: 50%"
                                alt="Interreg with Soilcom logo"
                        >
                    </a>
                </p>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header"><b>Funding</b></div>
            <div class="card-body">
                <p>
                    FLEXIBI has received funding from the German Federal Ministry of Education and Research.
                </p>
                <a href="https://www.bmbf.de/bmbf/en/home/home_node.html" target="_blank">
                    <img
                            class="funding-logo"
                            src="{% static 'img/bmbf-logo.svg' %}"
                                alt="Facce Surplus Logo"
                        >
                    </a>
                </div>
            </div>
    </div>
{% endblock content %}