{% extends 'simple_form_card.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_pre_form_content %}
    {% for formset in inlines %}
        {% crispy formset formset_helper %}
    {% endfor %}
{% endblock extra_pre_form_content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/dynamic-formset.js' %}"></script>
{% endblock javascript %}

{% block form_media %}
    {{ block.super }}
    {% for formset in inlines %}
        {{ formset.media }}
    {% endfor %}
{% endblock form_media %}