{% extends 'simple_form_card.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_form_content %}
    {% if formset %}
        {% crispy formset formset_helper %}
    {% endif %}
    <div class="form-group"><a href="javascript:void(0)"
       id="add-form"
       title="Add another form">
        <i class="fas fa-fw fa-plus"></i> Add season
    </a></div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/dynamic-formset.js' %}"></script>
{% endblock javascript %}