{% extends 'base.html' %}
{% load static %}

{% block title %}BRIT | Bioresource Information Tool{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-12 col-md-6">
            <div class="card shadow h-100">
                <div class="card-header"><b>Welcome!</b></div>
                <div class="card-body">
                    <p><strong>Welcome to the Bioresource Information Tool!</strong></p>
                    <p>
                        This tool is part of the FLEXIBI Decision Support Tool for small-scale flexi-feed biorefineries.
                        You can find information about sources, quantities and properties of residue-based bioresources.
                        You explore the case studies that have been created in the FLEXIBI project, change parameters
                        and assumptions to create your own scenarios. This site is the prototype of the system that
                        is still actively developed. If you find any bugs or have feedback, please let us know and
                        write a short note to <a
                            href="mailto:info@bioresource-tools.net">info@bioresource<span>&#8209;</span>tools.net</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col d-none d-md-block">
            <div class="card shadow h-100">
                <div class="card-header"><b>Updates</b></div>
                <div class="card-body">
                    <p class="card-text"><strong>19.04.2022 - Update 2214</strong></p>
                    <p class="card-text">
                    <ul>
                        <li><strong>Maps</strong>: NUTS map now includes information about population density and
                            remotness factor
                        </li>
                        <li>
                            <strong>Waste Collections:</strong>
                            Waste collections can now store information about the collection intervall
                        </li>
                        <li><strong>Materials:</strong> When editing compositions, now components can now be added on
                            the fly
                        </li>
                    </ul>
                    </p>
                    {#                    <p class="card-text"><strong>01.04.2022 - Update 2210</strong></p>#}
                    {#                    <p class="card-text">#}
                    {#                    <ul>#}
                    {#                        <li><strong>New Module:</strong> Introducing the SOILCOM Household biowaste collection map.</li>#}
                    {#                        <li>Complete makeover of Materials Module: New model structure is now Sample series >> sample >>#}
                    {#                            composition >> weight share of component#}
                    {#                        </li>#}
                    {#                        <li>Materials: Non mass balance related properties can now be added to samples</li>#}
                    {#                        <li>Materials: New sample series can now be created as duplicate from existing series for#}
                    {#                            easier and faster workflow#}
                    {#                        </li>#}
                    {#                        <li>Materials: Components of a composition are now sorted by their weight share but the "other"#}
                    {#                            component is always last in the list#}
                    {#                        </li>#}
                    {#                        <li>Bugfix: When updating a collection, sometimes existing flyers where unintentionally deleted.#}
                    {#                            This problem is fixed.#}
                    {#                        </li>#}
                    {#                    </ul>#}
                    {#                    </p>#}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header"><a href="{% url 'source-list' %}"><b>Bibliography</b></a></div>
                <div class="card-img-top">
                    <a class="d-flex align-items-center justify-content-center stretched-link"
                       href="{% url 'source-list' %}">
                        <img class="w-100 m-0" src="{% static 'img/bibliography_cover_card.png' %}"
                             alt="Bibliography Module Cover Image">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        This is a library of sources that contain valuable information about bioresources. The
                        sources can be explored and managed here. Any source from the library can be referred to
                        in the respective models in the other modules.
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header"><a href="{% url 'maps_list' %}"><b>Maps</b></a></div>
                <div class="card-img-top">
                    <a class="d-flex align-items-center justify-content-center stretched-link"
                       href="{% url 'maps_list' %}">
                        <img class="w-100 m-0" src="{% static 'img/maps_cover_card.png' %}"
                             alt="Maps Module Cover Image">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Explore maps of sources of bioresources found in the implemented case studies. You can filter
                        and find out more about the spatial distribution of potential resources.
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header"><a href="{% url 'sample-list-featured' %}"><b>Materials</b></a></div>
                <div class="card-img">
                    <a class="d-flex align-items-center justify-content-center stretched-link"
                       href="{% url 'sample-list-featured' %}">
                        <img class="w-100 m-0" src="{% static 'img/materials_cover_card.png' %}"
                             alt="Materials Module Cover Image">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        This is a database of materials that are bioresources found in the implemented case studies.
                        It characterizes the material composition and its seasonal change.
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header"><a href="{% url 'scenario_list' %}"><b>Inventories</b></a></div>
                <div class="card-img">
                    <a class="d-flex align-items-center justify-content-center stretched-link"
                       href="{% url 'scenario_list' %}">
                        <img class="w-100 m-0 p-1" src="{% static 'img/cover_card_inventories.png' %}"
                             alt="Inventories Module Cover Image">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Inventories are case studies about which bioresources are available in a given region. Explore
                        ready case studies from our research projects or create your own scenarios.
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header"><a href="{% url 'WasteCollection' %}"><b>SOILCOM biowaste collection
                    map</b></a></div>
                <div class="card-img">
                    <a class="d-flex align-items-center justify-content-center stretched-link"
                       href="{% url 'WasteCollection' %}">
                        <img class="w-100 m-0 p-1" src="{% static 'img/maps_nuts_regions.png' %}"
                             alt="Household Waste Collection Module Cover Image">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        The interactive biowaste collection map is being built within the SOILCOM project to learn
                        more about the way biowaste is collected in European countries.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col d-md-none">
            <div class="card shadow">
                <div class="card-header"><b>Updates</b></div>
                <div class="card-body">
                    <p class="card-text"><strong>19.04.2022 - Update 2214</strong></p>
                    <p class="card-text">
                    <ul>
                        <li><strong>Maps:</strong> NUTS map now includes information about population density and
                            remotness factor.
                        </li>
                        <li>
                            <strong>Waste Collection:</strong> Waste collections can now store information about the
                            collection intervall.
                        </li>
                        <li><strong>Materials:</strong> When editing compositions, now components can now be added on
                            the fly.
                        </li>
                    </ul>
                    </p>
                    {#                    <p class="card-text"><strong>01.04.2022 - Update 2210</strong></p>#}
                    {#                    <p class="card-text">#}
                    {#                    <ul>#}
                    {#                        <li><strong>New Module:</strong> Introducing the SOILCOM Household biowaste collection map.</li>#}
                    {#                        <li>Complete makeover of Materials Module: New model structure is now Sample series >> sample >>#}
                    {#                            composition >> weight share of component#}
                    {#                        </li>#}
                    {#                        <li>Materials: Non mass balance related properties can now be added to samples</li>#}
                    {#                        <li>Materials: New sample series can now be created as duplicate from existing series for#}
                    {#                            easier and faster workflow#}
                    {#                        </li>#}
                    {#                        <li>Materials: Components of a composition are now sorted by their weight share but the "other"#}
                    {#                            component is always last in the list#}
                    {#                        </li>#}
                    {#                        <li>Bugfix: When updating a collection, sometimes existing flyers where unintentionally deleted.#}
                    {#                            This problem is fixed.#}
                    {#                        </li>#}
                    {#                    </ul>#}
                    {#                    </p>#}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}