{% load custom_tags %}
{% load moderation_tags %}
<div class="modal-header">
  <h5 class="modal-title">{{ object|verbose_name }} Detail</h5>
  <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
</div>
<div class="modal-body">
  <p class="card-text">
    <strong>Name:</strong>
    <br>
    {{ object.name }}
  </p>
  {% if object.description %}
    <p class="card-text">
      <strong>Description:</strong>
      <br>
      {{ object.description }}
    </p>
  {% endif %}
</div>
<div class="modal-footer">
  <a href="{% detail_or_review_url object True %}" class="btn btn-primary">More</a>
  <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
</div>
