{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header"><strong>{{ form_title }}</strong></div>
                <div class="card-body">
                    {% crispy form %}
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    <script type="text/javascript">

        const changedSelect = function (e) {
            console.log('Changed selector ' + e.target.name + ' to value ' + e.target.value + '.')
            let sid = e.target.id + '-update'
            console.log(sid)
            let btn = document.getElementById(e.target.id + '-update')
            console.log(btn)
        }

        document.querySelectorAll("select").forEach(function (selector) {
            selector.addEventListener("change", changedSelect, false)
        })

    </script>

{% endblock javascript %}