{% extends 'base.html' %}

{% block title %}BRIT | {{ header }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header">
                    {% block list_card_header %}
                        <strong>{{ header }}</strong>
                    {% endblock list_card_header %}
                </div>
                <div class="card-body overflow-auto">
                    {% block list_card_body %}
                        {% block list_table %}
                            <table class="table">
                                {% block list_table_head %}
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        {% if list_type == 'private' %}
                                            <th>Public</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                {% endblock list_table_head %}
                                <tbody>
                                {% for object in object_list %}
                                    {% block list_table_row %}
                                        <tr>
                                            <td>
                                                <a href="{{ object.get_absolute_url }}"
                                                   aria-label="View details of {{ object.name }}">
                                                    {{ object.name }}
                                                </a>
                                            </td>
                                            <td>{{ object.description }}</td>
                                            {% if list_type == 'private' %}
                                                {% include 'partials/_publication_status_column.html' %}
                                            {% endif %}
                                        </tr>
                                    {% endblock list_table_row %}
                                {% empty %}
                                    <tr>
                                        <td colspan="3">No objects available.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                {% block list_table_footer %}
                                    <tfoot></tfoot>
                                {% endblock list_table_footer %}
                            </table>
                        {% endblock list_table %}
                        {% block list_pagination %}
                            {% include 'partials/_pagination.html' %}
                        {% endblock list_pagination %}
                    {% endblock list_card_body %}
                </div>
                <div class="card-footer d-flex">
                    {% block list_card_footer %}
                        {% block list_card_navigation_dropdown %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle me-3" type="button"
                                        id="navigateDropdown"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Navigate
                                </button>
                                <div class="dropdown-menu" aria-labelledby="navigateDropdown">
                                    {% block list_card_footer_list_link %}
                                        {% if private_list_owner %}
                                            <a class="dropdown-item"
                                               href="{{ object_list.model.public_list_url }}">
                                                <i class="fas fa-fw fa-list"></i>
                                                Published {{ object_list.model.get_verbose_name_plural }}
                                            </a>
                                        {% elif user.is_authenticated %}
                                            <a class="dropdown-item"
                                               href="{{ object_list.model.private_list_url }}">
                                                <i class="fas fa-fw fa-list"></i>
                                                My {{ object_list.model.get_verbose_name_plural }}
                                            </a>
                                        {% endif %}
                                    {% endblock list_card_footer_list_link %}
                                    {% block list_card_footer_dashboard_link %}
                                        {% if dashboard_url %}
                                            <a class="dropdown-item"
                                               href="{{ dashboard_url }}">
                                                <i class="fas fa-fw fa-th-large"></i> Explorer
                                            </a>
                                        {% endif %}
                                    {% endblock list_card_footer_dashboard_link %}
                                    {% block list_card_navigation_dropdown_additional_links %}{% endblock %}
                                </div>
                            </div>
                        {% endblock list_card_navigation_dropdown %}
                        {% block list_card_options_dropdown %}
                            {% if user.is_authenticated %}
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle me-3" type="button"
                                            id="optionsDropdown"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        Options
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="optionsDropdown">
                                        {% block list_card_footer_create_link %}
                                            {% if create_permission in perms or user.is_staff %}
                                                <a class="dropdown-item"
                                                   href="{{ object_list.model.create_url }}"
                                                   aria-label="Create new {{ object_list.model.get_verbose_name }}">
                                                    <i class=" fas fa-fw fa-plus"></i>
                                                    Create new {{ object_list.model.get_verbose_name }}
                                                </a>
                                            {% endif %}
                                        {% endblock list_card_footer_create_link %}
                                        {% block list_card_options_dropdown_additional_links %}{% endblock %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endblock list_card_options_dropdown %}
                        {% block list_card_footer_additional_links %}{% endblock %}
                    {% endblock list_card_footer %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
