{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header"><strong>{{ form_title }}</strong></div>
                <div class="card-body">
                    <div id="form-container">
                        <form method="post">
                            {% crispy form %}
                            {% block extra_form_content %}{% endblock %}
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}