{% extends "filtered_map.html" %}
{% load static %}

{% block map_card_header_actions %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'showcase-list' %}"
       title="List">
        <i class="fas fa-list-ul"></i>
        <span class="d-none d-md-inline">List</span>
    </a>
    {{ block.super }}
{% endblock map_card_header_actions %}

{% block map_card_footer %}
{% endblock map_card_footer %}

{% block filter_form_card %}
{% endblock filter_form_card %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'lib/turf-inside/inside.min.js' %}"></script>
    <script src="{% static 'js/showcase_map.min.js' %}"></script>
{% endblock javascript %}
