/logs/
/db_dump/
/.idea/
/.vscode/
/brit/settings/.env
*.pyc
settings.json
/.vscode/
*/__pycache__/

# windsurf rules
.windsurfrules
.isort.cfg
*code-workspace*

/test-results/
/.venv/
/.devcontainer/
/site/