networks:
  full:


services:
  db:
    image: "postgis/postgis:15-3.4"
    ports:
      - "5433:5432"
    volumes:
      - brit_db:/var/lib/postgresql/data/
    env_file:
      - brit/settings/.env
    networks:
      - full

  web:
    build:
      context: .
      args:
        INSTALL_DEV: true
    image: brit-web
    restart: unless-stopped
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./:/app
      - brit_venv:/app/.venv
    depends_on:
      - db
      - redis
      - celery
    ports:
      - "8000:8000"
    env_file:
      - brit/settings/.env
    networks:
      - full

  celery:
    image: brit-web
    volumes:
      - ./:/app
      - brit_venv:/app/.venv
    command: celery --app=brit worker --loglevel=info --pool=solo --concurrency=1 --without-gossip --without-mingle -E
    stop_grace_period: 5s
    env_file:
      - brit/settings/.env
    depends_on:
      - db
      - redis
    networks:
      - full
    healthcheck:
      test: ["CMD-SHELL", "celery --app=brit inspect ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  redis:
    build:
      context: ./docker/redis/
    volumes:
      - ./docker/redis/tests/:/tests
    networks:
      - full

  db_admin:
    build:
      context: ./docker/db_admin/
    env_file:
      - brit/settings/.env
    depends_on:
      - db
    networks:
      - full
    profiles: [ "db_admin" ]

  flower:
    image: brit-web
    command: celery --app=brit flower
    ports:
      - "5555:5555"
    env_file:
      - brit/settings/.env
    depends_on:
      - web
      - redis
    networks:
      - full
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5555/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  brit_db:
  brit_venv:
