ai-django-core==7.0.2
boto3==1.28.9
celery==5.3.1
crispy-bootstrap4==2022.1
dj-database-url==2.0.0
Django==4.2.3
django-autocomplete-light==3.9.7
django-bootstrap-modal-forms==3.0.4
django-cookie-consent==0.4.0
django-crispy-forms==2.0
django-debug-toolbar==4.1.0
django-extra-views==0.14.0
django-filter==23.2
django-geojson==4.0.0
django-heroku==0.3.1
django-leaflet==0.29.0
django-registration-redux==2.12
django-storages==1.13.2
django-tables2==2.6.0
django-tree-queries==0.15.0
djangorestframework==3.14.0
djangorestframework-csv==2.1.1
djangorestframework-gis==1.0
factory-boy==3.3.0
flower==2.0.0
fontawesomefree==6.4.0
gunicorn==20.1.0
mock==5.1.0
openpyxl==3.1.2
Pillow==9.5.0
redis==4.6.0
requests==2.31.0
XlsxWriter==3.1.2
