asgiref==3.2.3
Django==3.0.3
-e git+https://github.com/makinacorpus/django-geojson.git@42fa800eea6502c1271c0cfa73c03c2bd499b536#egg=django_geojson
django-leaflet==0.26.0
jsonfield==3.0.0
olefile==0.46
Pillow==7.0.0
psycopg2==2.8.4
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
