{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load leaflet_tags %}


{% block content %}

    {% leaflet_js plugins="draw" %}
    {% leaflet_css plugins="draw" %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Catchments</h1>
    </div>

    <!-- Outer wrapper -->
    <div class="row h-100">

        <!-- Left action column -->
        <div class="col-sm-3">

            <div class="accordion">

                <!-- Filter form -->
                <div class="card shadow">
                    <div class="card-header" role="button" data-toggle="collapse" href="#filter-card-body"
                         aria-expanded="true" aria-controls="filter-card-body">
                        <b>Filter</b>
                    </div>
                    <div class="card-body collapse show" id="filter-card-body">
                        <form id="catchment-filter-form" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </form>
                    </div>
                </div>

                <!-- Catchment information -->
                <div class="card shadow">
                    <div class="card-header" role="button" data-toggle="collapse" href="#information-card-body"
                         aria-expanded="false" aria-controls="information-card-body">
                        <b>Catchment information</b>
                    </div>
                    <div class="card-body collapse" id="information-card-body">
                        <b>Name</b>
                        <p id="catchment-name" style="min-height: 1rem;"></p>
                        <b>Type</b>
                        <p id="catchment-type" style="min-height: 1rem;"></p>
                        <b>Description</b>
                        <p id="catchment-description" style="min-height: 1rem;"></p>
                    </div>
                </div>

                <!-- Options -->
                <div class="card shadow">
                    <div class="card-header" role="button" data-toggle="collapse" href="#options-card-body"
                         aria-expanded="true" aria-controls="options-card-body">
                        <b>Options</b>
                    </div>
                    <div class="card-body collapse show" id="options-card-body">
                        <a href="{% url 'catchment_definition' %}">
                            <i class="fas fa-fw fa-plus"></i> Create a new catchment
                        </a>
                        <a id="update-link" href="#" style="display: none;">
                            <i class="fas fa-fw fa-edit"></i> Edit this catchment
                        </a>
                        <a data-toggle="modal" id="delete-link" href="#" style="display: none;"
                           data-target="#modal-confirm-delete">
                            <i class="fas fa-fw fa-trash"></i> Delete this catchment
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Map column -->
        <div class="col">
            <div class="card shadow">
                <div class="card-body p-0">
                    {% leaflet_map "main" %}
                </div>
            </div>
        </div>

    </div>

    {% include 'modal_confirm_delete.html' %}

{% endblock content %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">

        let map;
        let catchment_layer;
        let region_layer;


        window.addEventListener("map:init", function (event) {
            map = event.detail.map;
        });

        async function loadCatchmentOptions() {
            const url = "{% url 'ajax_catchment_options' %}";
            let args = new URLSearchParams({
                region_id: document.getElementById("id_region").value.toString(),
                category_standard: (document.getElementById("id_category_1").checked ? 1 : 0).toString(),
                category_custom: (document.getElementById("id_category_2").checked ? 1 : 0).toString()
            });

            let response = await fetch(url + "?" + args);
            return await response.text();
        }

        function setCatchmentOptions() {
            loadCatchmentOptions()
                .then(html => document.getElementById("id_catchment").innerHTML = html)
                .catch((err) => console.log(err))
        }

        function updateUrls(catchment_id) {
            let updateLink = document.getElementById("update-link");
            updateLink.href = "{% url 'catchment_update' pk=0 %}".replace("0", catchment_id.toString());
            if (catchment_id === "") {
                updateLink.style.display = "none";
            } else {
                updateLink.style.display = "block";
            }

            form = document.getElementById("delete-confirmation-form")
            form.action = "{% url 'catchment_delete' pk=0%}".replace("0", catchment_id.toString());

            let deleteLink = document.getElementById("delete-link");
            deleteLink.href = "{% url 'catchment_delete' pk=0 %}".replace("0", catchment_id.toString());
            if (catchment_id === "") {
                deleteLink.style.display = "none";
            } else {
                deleteLink.style.display = "block";
            }
        }

        async function fetchRegionGeometry() {

            // Define query string for REST API
            let params = L.Util.extend({
                region_id: document.getElementById("id_region").value
            });

            let url = "{% url 'ajax_region_geometries' %}" + L.Util.getParamString(params);

            // Remove existing layer
            if (region_layer !== undefined) {
                map.removeLayer(region_layer);
            }

            // Fetch data from REST API
            let response = await fetch(url);
            let data = await response.json();

            // Render geodata on map
            let geodata;
            geodata = data['geoJson'];
            region_layer = L.geoJson(geodata, {
                style: region_layer_style
            })
            region_layer.addTo(map);
            map.fitBounds(region_layer.getBounds())
        }

        async function fetchCatchmentGeometry(catchment_id) {

            // Define query string for REST API
            let params = L.Util.extend({
                catchment_id: catchment_id
            });

            let dataurl = "{% url 'ajax_catchment_geometries' %}" + L.Util.getParamString(params);

            // Remove existing layer
            if (undefined !== catchment_layer) {
                map.removeLayer(catchment_layer);
            }

            // Fetch data from REST API
            let response = await fetch(dataurl);
            let data = await response.json();

            // Render geodata on map
            let geodata;
            geodata = data['geoJson'];
            catchment_layer = L.geoJson(geodata, {
                style: catchment_layer_style
            })
            catchment_layer.addTo(map);
            map.fitBounds(catchment_layer.getBounds())

            document.getElementById("catchment-name").innerHTML = geodata.features[0].properties.name;
            document.getElementById("catchment-type").innerHTML = geodata.features[0].properties.type;
            document.getElementById("catchment-description").innerHTML = geodata.features[0].properties.description;
        }

        function onLoad() {
            console.log('onLoad');
            fetchRegionGeometry();
            setCatchmentOptions();
            map.invalidateSize();
        }

        document.getElementById("id_region").onchange = () => {
            setCatchmentOptions();
            fetchRegionGeometry();
        }
        document.getElementById("id_category_1").onchange = () => setCatchmentOptions();
        document.getElementById("id_category_2").onchange = () => setCatchmentOptions();
        document.getElementById("id_catchment").onchange = () => {
            const catchment_id = document.getElementById("id_catchment").value;
            fetchCatchmentGeometry(catchment_id);
            updateUrls(catchment_id);
        }
        window.onload = () => onLoad();

    </script>

{% endblock %}