{% load static %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}

<div class="card shadow mb-4">
    <div class="card-header"><b>{{ object.name }}</b></div>
    <div class="card-img-top">
        {% leaflet_map "main" %}
    </div>
    <div class="card-body">
        {% if object.description %}
            <p class="card-text"><strong>Description:</strong><br>{{ object.description }}</p>
        {% endif %}
        <p class="card-text" id="region" data-region-id="{{ object.region.id }}">
            <strong>Region:</strong>
            <a href="{% url 'region-detail' object.region.id %}">{{ object.region.name }}</a>
        </p>
        <p class="card-text" id="catchment" data-catchment-id="{{ object.catchment.id }}">
            <strong>Catchment</strong>:
            <a href="{% url 'catchment-detail' object.catchment.pk %}">{{ object.catchment.name }}</a>
        </p>
    </div>
    <div class="card-footer d-flex">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="navigateDropdown"
                    data-toggle="dropdown" aria-expanded="false">
                Navigate
            </button>
            <div class="dropdown-menu" aria-labelledby="navigateDropdown">
                <a class="dropdown-item"
                   href="{% url 'scenario-list' %}">
                    <i class="fas fa-fw fa-list"></i> Public Scenarios
                </a>
                <a class="dropdown-item"
                   href="{% url 'scenario-list-owned' %}">
                    <i class="fas fa-fw fa-list"></i> My Scenarios
                </a>
            </div>
        </div>
        {% if user == object.owner or user.is_staff %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle ml-3" type="button" id="editDropdown"
                        data-toggle="dropdown" aria-expanded="false">
                    Options
                </button>
                <div class="dropdown-menu" aria-labelledby="editDropdown">
                    <a class="dropdown-item"
                       href="{% url 'scenario-update' object.id %}?next={{ request.path }}">
                        <i class="fas fa-fw fa-edit"></i> Edit
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'download_scenario_summary' object.id %}">
                        <i class="fas fa-fw fa-file-download"></i> Download definition file
                    </a>
                    <a class="dropdown-item modal-link"
                       href="{% url 'scenario-delete-modal' object.pk %}">
                        <i class="fas fa-fw fa-trash"></i> Delete
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<script src="{% static 'js/maps.js' %}"></script>
{{ map_config|json_script:"mapConfig" }}
<script type="text/javascript">
    const mapConfig = JSON.parse(document.getElementById("mapConfig").textContent);
    window.onload = () => loadMap(mapConfig);
</script>
