<div class="modal-header">
    <h5 class="modal-title">{{ object.abbreviation }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    {% for key, value in source_dict.items %}
        {% if value.text %}
            <p><strong>{{ key }}</strong><br>
                {% if value.type == 'link' %}
                    <a href="{{ value.href }}" target="blank">{{ value.text }}</a>
                {% elif value.type == 'text' %}
                    {{ value.text }}
                {% endif %}
            </p>
        {% endif %}
    {% endfor %}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
</div>




