{% extends 'simple_list_card.html' %}

{% block title %}BRIT | Materials | List{% endblock %}

{% block list_table %}
    <table class="table">
        <thead>
        <tr>
            <th>Material</th>
            <th>Categories</th>
            <th>Description</th>
            {% if list_type == 'private' %}
                <th>Public</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{% url 'material-detail' object.pk %}">{{ object.name }}</a></td>
                <td>
                    {% for category in object.categories.all %}
                        <a href="{% url 'materialcategory-detail' category.pk %}">{{ category }}</a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
                <td>{{ object.description }}</td>
                {% if list_type == 'private' %}
                    {% include 'partials/_publication_status_column.html' %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock list_table %}