{% extends "detail_with_options.html" %}

{% block detail_body %}
    <p class="card-text">
        <strong>Name:</strong>
        <br>
        {{ object.name }}
    </p>
    {% with units=object.allowed_units.all %}
        {% if units %}
            <p class="card-text">
                <strong>Unit:</strong>
                {% for unit in units %}{{ unit.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </p>
        {% endif %}
    {% endwith %}
    {% if object.description %}
        <p class="card-text">
            <strong>Description:</strong>
            <br>
            {{ object.description }}
        </p>
    {% endif %}
{% endblock detail_body %}
