{% extends "simple_detail_card.html" %}

{% block detail_body %}
    <p class="card-text">
        <strong>Name:</strong>
        <br>
        {{ object.name }}
    </p>
    {% if object.categories.exists %}
        <p class="card-text">
            <strong>Categories:</strong>
        </p>
        {% for category in object.categories.all %}
            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    {% endif %}
    {% if object.description %}
        <p class="card-text">
            <strong>Description:</strong>
            <br>
            {{ object.description }}
        </p>
    {% endif %}
{% endblock detail_body %}
