{% extends 'filtered_list.html' %}
{% load crispy_forms_tags %}

{% block title %}BRIT | Materials | Samples{% endblock %}

{% block list_header %}<strong>Samples</strong>{% endblock %}

{% block list_body %}
    <table class="table table-responsive-stack">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Material</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td data-label="Id"><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
                <td data-label="Name"><a href="{% url 'sample-detail' object.pk %}">{{ object.name }}</a></td>
                <td data-label="Material">
                    <a href="{% url 'material-detail' object.material.pk %}">
                        {{ object.material.name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endblock list_body %}

{% block list_footer %}
    {% if user.is_authenticated %}
        <a class="mr-2 text-nowrap" href="{% url 'sample-list-owned' %}">
            <i class="fas fa-fw fa-list"></i> My samples
        </a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'sample-create' %}" class="nowrap">
            <i class="fa fa-fw fa-plus"></i>
            <span>Add new sample</span>
        </a>
    {% endif %}
    {% if 'materials.change_sample' in perms %}
        <a href="{% url 'materials-dashboard' %}" class="ml-3 nowrap">
            <i class="fas fa-fw fa-cog"></i> Dashboard
        </a>
    {% endif %}
{% endblock list_footer %}

{% block filter_body %}
    <form method="get">
        {% crispy filter.form %}
        <button id="btn-filter" class="btn btn-primary" type="submit">Filter</button>
    </form>
{% endblock filter_body %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}