{% extends 'filtered_list.html' %}
{% load crispy_forms_tags %}
{% load user_created_object_tags %}

{% block title %}BRIT | Materials | Sample Series{% endblock %}

{% block list_card_header %}<strong>Sample Series</strong>{% endblock %}

{% block list_table %}
    <table class="table table-responsive-stack">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Material</th>
            {% if object_list.model|is_user_created %}
                <th class="actions-column">Status/Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td data-label="Id"><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
                <td data-label="Name"><a href="{% url 'sampleseries-detail' object.pk %}">{{ object.name }}</a></td>
                <td data-label="Material">
                    <a href="{% url 'material-detail' object.material.pk %}">{{ object.material.name }}</a>
                </td>
                {% if object_list.model|is_user_created %}
                    <td class="actions-column mobile-no-label">
                        {% include 'object_management/status_actions_cell.html' %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endblock list_table %}

{% block filter_body %}
    <form method="get">
        {% crispy filter.form %}
        <button id="btn-filter" class="btn btn-primary" type="submit">Filter</button>
    </form>
{% endblock filter_body %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}