{% extends "materials/sample_filter.html" %}
{% load moderation_tags %}
{% block list_table %}
    <div class="row g-3">
        {% for object in object_list %}
            <div class="col-12 col-md-6 col-xl-4">
                {% include "materials/includes/sample_card.html" with show_status=True %}
            </div>
        {% empty %}
            <div class="col-12">
                <div class="border rounded-3 bg-body-tertiary text-center text-muted py-5 px-4">
                    <div class="mb-2">
                        <i class="fas fa-filter me-1"></i> No samples match your current filters.
                        <a href="{% if list_type == 'private' %}{{ private_representation_url }}?scope=private{% elif list_type == 'review' %}{{ review_representation_url }}?scope=review{% else %}{{ public_representation_url }}?scope=published{% endif %}"
                           class="ms-2">Reset filters</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock list_table %}
