<fieldset class="border rounded p-3 mb-3" data-workspace-row>
  <legend class="float-none w-auto px-2 fs-6">{{ row_label|default:'Entry' }}</legend>
  <div class="text-danger" tabindex="-1" data-workspace-errors="{{ workspace_row.prefix }}-__all__">{{ workspace_row.non_field_errors }}</div>
  {% for field in workspace_row.hidden_fields %}
    {% include "utils/includes/workspace_field.html" with field=field only %}
  {% endfor %}
  {% for field in workspace_row.visible_fields %}
    {% include "utils/includes/workspace_field.html" with field=field only %}
  {% endfor %}
</fieldset>
