{% extends 'filtered_list.html' %}
{% load crispy_forms_tags %}

{% block title %}BRIT | Household waste collection list{% endblock %}

{% block list_body %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Catchment</th>
            <th>Collector</th>
            <th>Category</th>
            <th>Collection system</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
                <td>{{ object.catchment }}</td>
                <td><a href="{{ object.collector.get_absolute_url }}">{{ object.collector }}</a></td>
                <td><a href="{{ object.waste_stream.category.get_absolute_url }}">{{ object.waste_stream.category }}</a>
                </td>
                <td><a href="{{ object.collection_system.get_absolute_url }}">{{ object.collection_system }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endblock list_body %}

{% block list_footer %}
    <a href="{% url 'WasteCollection' %}?{{ request.GET.urlencode }}&load_features=true">
        <i class="fa fa-fw fa-map"></i>
        View as map
    </a>
    {% if 'soilcom.add_collection' in perms %}
        <a class="ml-2" href="{% url 'collection-create' %}?next={{ request.get_full_path|urlencode }}">
            <i class="fa fa-fw fa-plus"></i>
            Add new collection
        </a>
    {% endif %}
    <a class="ml-2" href="{% url 'collection-list-download-csv' %}?{{ request.GET.urlencode }}">
        <i class="fa fa-fw fa-file-download"></i>
        Download as CSV
    </a>
{% endblock list_footer %}

{% block filter_body %}
    <form method="get">
        {% crispy filter.form %}
        <button id="btn-filter" class="btn btn-primary" type="submit">Filter</button>
    </form>
{% endblock filter_body %}