{% extends 'filtered_list.html' %}
{% load crispy_forms_tags %}

{% block title %}BRIT | Household waste collection list{% endblock %}

{% block list_body %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Catchment</th>
            <th>Collector</th>
            <th>Category</th>
            <th>Collection system</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
                <td>{{ object.catchment }}</td>
                <td><a href="{{ object.collector.get_absolute_url }}">{{ object.collector }}</a></td>
                <td><a href="{{ object.waste_stream.category.get_absolute_url }}">{{ object.waste_stream.category }}</a>
                </td>
                <td><a href="{{ object.collection_system.get_absolute_url }}">{{ object.collection_system }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endblock list_body %}

{% block list_footer %}
    <a class="mr-2" href="{% url 'WasteCollection' %}?{{ request.GET.urlencode }}&load_features=true">
        <i class="fa fa-fw fa-map"></i>
        View as map
    </a>
    {% if 'soilcom.add_collection' in perms %}
        <a class="mr-2" href="{% url 'collection-create' %}?next={{ request.get_full_path|urlencode }}">
            <i class="fa fa-fw fa-plus"></i>
            Add new collection
        </a>
    {% endif %}
    {% if user.is_authenticated %}
        <span id="export_csv">
            <a href="javascript:void(0)" onclick="export_to_file('csv')">
                <i class="fa fa-fw fa-file-csv"></i>
                Export to csv
            </a>
        </span>
        <span id="export_xlsx">
            <a href="javascript:void(0)" onclick="export_to_file('xlsx')">
                <i class="fa fa-fw fa-file-excel"></i>
                Export to xlsx
            </a>
        </span>
    {% endif %}
{% endblock list_footer %}

{% block filter_body %}
    <form method="get">
        {% crispy filter.form %}
        <button id="btn-filter" class="btn btn-primary" type="submit">Filter</button>
    </form>
{% endblock filter_body %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">

        async function get_task_progress(url, format, count = 0) {
            const response = await fetch(url);
            const data = await response.json();
            if (data["state"] === "PENDING") {

                const outer_span = document.createElement('span');

                const i = document.createElement('i');
                if (format === 'xlsx') {
                    i.className = "fa fa-fw fa-file-excel";
                } else if (format === 'csv') {
                    i.className = "fa fa-fw fa-file-csv";
                } else {
                    i.className = "fa fa-fw fa-file";
                }

                outer_span.appendChild(i);

                const inner_span = document.createElement('span');
                inner_span.innerText = " Exporting to " + format + ".".repeat(++count % 4);
                outer_span.appendChild(inner_span);

                const element_id = "export_" + format
                document.getElementById(element_id).innerHTML = "";
                document.getElementById(element_id).appendChild(outer_span);
                setTimeout(get_task_progress, 500, url, format, count);
            } else if (data["state"] === "SUCCESS") {

                const a = document.createElement('a');
                a.href = data["details"];

                const i = document.createElement('i');
                if (format === 'xlsx') {
                    i.className = "fa fa-fw fa-file-excel";
                } else if (format === 'csv') {
                    i.className = "fa fa-fw fa-file-csv";
                } else {
                    i.className = "fa fa-fw fa-file";
                }
                a.appendChild(i);

                const span = document.createElement('span');
                span.innerText = " Download " + format;
                a.appendChild(span);

                const element_id = "export_" + format;
                document.getElementById(element_id).innerHTML = "";
                document.getElementById(element_id).appendChild(a);
                return data;
            } else if (data["state"] === "FAILURE") {
                const a = document.createElement('a');
                a.href = "javascript:void(0)";
                const i = document.createElement('i');
                if (format === 'xlsx') {
                    i.className = "fa fa-fw fa-file-excel";
                } else if (format === 'csv') {
                    i.className = "fa fa-fw fa-file-csv";
                } else {
                    i.className = "fa fa-fw fa-file";
                }
                a.appendChild(i);
                const span = document.createElement('span');
                span.innerText = " Export to " + format;
                a.appendChild(span);
                const element_id = "export_" + format
                document.getElementById(element_id).appendChild(a);
            }
        }

        async function start_task(format) {
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.append('format', format);
            const url = "{% url 'collection-export' %}?" + urlParams.toString();
            const response = await fetch(url);
            const data = await response.json();
            return data["task_id"];
        }

        async function export_to_file(format) {
            const task_id = await start_task(format);
            const element_id = "export_" + format;
            document.getElementById(element_id).innerText = 'Exporting to ' + format;
            const url = "{% url 'get_task_progress' task_id=0 %}".replace('0', task_id);
            get_task_progress(url, format);
        }

    </script>

{% endblock javascript %}