{% extends 'simple_form_card.html' %}
{% load crispy_forms_tags %}

{% block extra_form_content %}
    {% if formset %}
        {% crispy formset formset_helper %}
    {% endif %}
{% endblock %}

{% block javascript %}

    <script type="text/javascript">

        function data_url(element) {
            if (element['dataUrl']) {
                return element['dataUrl'];
            } else {
                return element.data('options')
            }
        }

        function updateCollectionModalForm() {
            $("#btn-add-collector").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('href'),
                    errorClass: ".is-invalid",
                    asyncUpdate: true,
                    asyncSettings: {
                        closeOnSubmit: true,
                        successMessage: '<div class="success d-none">Success</div>',
                        dataUrl: data_url($(this)),
                        dataElementId: '#id_collector',
                        dataKey: 'options',
                        addModalFormFunction: updateCollectionModalForm
                    }
                })
            });
        }

        const addFormButton = document.getElementById('add-more');
        const totalNewForms = document.getElementById('id_form-TOTAL_FORMS');


        addFormButton.addEventListener('click', (e) => {

            if (e) {
                e.preventDefault();
            }
            const currentForms = document.getElementsByClassName('formset-form-row');
            let currentFormCount = currentForms.length;
            const emptyForm = document.getElementById('empty-form-row').cloneNode(true);
            emptyForm.setAttribute('class', 'formset-form-row');
            emptyForm.setAttribute('id', '');
            const regex = new RegExp('__prefix__', 'g');
            emptyForm.innerHTML = emptyForm.innerHTML.replace(regex, currentFormCount);
            totalNewForms.setAttribute('value', `${currentFormCount + 1}`);

            const formContainer = document.getElementById('formset-container');
            formContainer.append(emptyForm);
        });

        $(document).ready(function () {
            $("#sidebarToggle").click();
            updateCollectionModalForm();
        });

    </script>

{% endblock javascript %}