{% extends 'base.html' %}

{% block title %}BRIT | Waste Collection{% endblock %}

{% block content %}

    <div class="row">
        <div class="col col-12 col-md-6">
            <div class="card shadow h-100">
                <div class="card-header"><strong>Soilcom Waste Collections</strong></div>
                <div class="card-body">
                    <p class="card-text">
                        This project aims at building an interactive map of the biowaste collection in Europe.
                        The waste streams are characterised based on the collection system and the materials that
                        are allowed to be given into the collection. The main source are information given by the
                        responsible waste collectors to the local citizens in their respective catchment.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'WasteCollection' %}" class="btn btn-primary">View map</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header">
                    <a href="{% url 'collector-list' %}" class="stretched-link"><strong>Collectors</strong></a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        The collector is the organisation that is responsible for providing the means of biowaste
                        collection, collecting the waste and managing its utilisation.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'collector-list' %}" class="btn btn-primary">View collectors</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header">
                    <a href="{% url 'collectioncatchment-list' %}" class="stretched-link">
                        <strong>Catchments</strong>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        A catchment is the area that a collection is dedicated to. Usually they are administrative
                        regions, such as counties.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'collectioncatchment-list' %}" class="btn btn-primary">View catchments</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header">
                    <strong>
                        <a href="{% url 'collectionsystem-list' %}" class="stretched-link">Collection systems</a>
                    </strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        The collection systems describe the means by which the collectors organise the collection. It
                        is determined by how and when and where the collector is active and provides space and
                        containers for the biowaste.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'collectionsystem-list' %}" class="btn btn-primary">View collection systems</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header">
                    <strong>
                        <a href="{% url 'wastecategory-list' %}" class="stretched-link">Waste categories</a>
                    </strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Categories allow to order waste streams into similar groups.
                    </p>

                </div>
                <div class="card-footer">
                    <a href="{% url 'wastecategory-list' %}" class="btn btn-primary">View waste categories</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header">
                    <strong>
                        <a href="{% url 'collectionfrequency-list' %}" class="stretched-link">Collection frequencies</a>
                    </strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        The frequencies of the collections can be grouped into categories. These can be created or
                        edited here.
                    </p>

                </div>
                <div class="card-footer">
                    <a href="{% url 'collectionfrequency-list' %}" class="btn btn-primary">
                        View collection frequencies
                    </a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header">
                    <strong>
                        <a href="{% url 'wastecomponent-list' %}" class="stretched-link">Waste components</a>
                    </strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Waste components are materials that are present in the waste.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'wastecomponent-list' %}" class="btn btn-primary">View waste components</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header">
                    <strong>
                        <a href="{% url 'collection-list' %}" class="stretched-link">Collections</a>
                    </strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Each waste collection is conducted by a specific collector in a specific catchment and for only
                        one waste stream. More than one collection per collector or catchment is possible.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'collection-list' %}" class="btn btn-primary">View waste collections</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header">
                    <strong>
                        <a href="{% url 'wasteflyer-list' %}" class="stretched-link">Flyers</a>
                    </strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Flyers are the sources of information for all the collections. All flyers that are available
                        online are regarded for the database. Here, flyers can be checked for actuality.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'wasteflyer-list' %}" class="btn btn-primary">View Flyers</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header">
                    <strong>
                        <a href="{% url 'property-list' %}" class="stretched-link">Properties</a>
                    </strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Properties can be attached to waste collections.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'property-list' %}" class="btn btn-primary">View Properties</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}