.select2-container {
    min-width: 10em !important;
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
}

.table .url-cell {
    position: relative;
}

.table .url-cell span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    width: 95%;
}

.url-cell:before {
    content: '';
    display: inline-block;
}

.svg-icon-header svg {
    /*width: 1em; !* Adjust size to match font-size *!*/
    height: 1em; /* Adjust size to match font-size */
    fill: currentColor; /* Use the current font color */
    vertical-align: middle; /* Align inline with the text */
}


@media screen and (max-width: 768px) {
    .table-responsive-stack tr {
        display: block;
        margin-bottom: .625em;
        border: 1px solid #858796;

    }

    /*.table-responsive-stack tr:nth-child(odd) {*/
    /*    background-color: #f2f2f2;*/
    /*}*/

    .table-responsive-stack td {
        display: block;
        text-align: left;
    }

    .table-responsive-stack td::before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
        text-transform: none;
    }

    .table-responsive-stack thead {
        display: none;
    }
}


