{% extends 'simple_detail_card.html' %}

{% block detail_header %}Configuration of Greenhouse: {{ object.name }}{% endblock detail_header %}

{% block detail_body %}
    <p class="card-text"><strong>Heating:</strong> {{ object.heated }}    </p>
    <p class="card-text"><strong>Lighting:</strong> {{ object.lighted }}    </p>
    <p class="card-text"><strong>Aboveground:</strong> {{ object.above_ground }}    </p>
    <p class="card-text"><strong>High-wire:</strong> {{ object.high_wire }}    </p>
{% endblock detail_body %}

{% block second_row %}
    <div class="col">
        <div class="card shadow">
            <div class="card-header">
                <b>Growth cycles</b>
            </div>
            <div class="card-body">
                {% for growth_cycle, content in growth_cycles.items %}
                    <div class="card border-left-primary border shadow mb-2">
                        <div class="card-header">
                            <h6 class="m-0 font-weight-bold text-primary">
                                {{ growth_cycle.cycle_number }}: {{ content.culture.name }}</h6>
                        </div>
                        <div class="card-body">
                            {% include 'growthcycle_table.html' with table_data=content.table %}
                        </div>
                        <div class="card-footer">
                            {% if request.user == growth_cycle.owner %}
                                <a href="javascript:void(0);"
                                   class="modal-link"
                                   data-link="{% url 'greenhousegrowthcycle-delete-modal' growth_cycle.id %}?next={{ request.path }}">
                                    <i class="fas fa-fw fa-trash"></i> Remove this cycle
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if 'flexibi_nantes.add_greenhousegrowthcycle' in perms %}
                    <div class="card border-left-primary border">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <a href="{% url 'greenhousegrowthcycle-create' object.id %}?next={{ request.path }}">
                                <i class="fas fa-fw fa-plus"></i> Add growth cycle
                            </a>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                {% endif %}
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
{% endblock second_row %}
