{% extends 'base.html' %}

{% block content %}
    <h2>FLEXIBI case study greenhouse types</h2>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for greenhouse in standard_objects %}
                    <li class="list-group-item">
                        <a href="{% url 'greenhouse_detail' greenhouse.id %}">{{ greenhouse.id }}</a>
                        <a href="{% url 'greenhouse_update' greenhouse.id %}"><i class="fas fa-fw fa-edit"></i></a>
                        <a href="{% url 'greenhouse_delete' greenhouse.id %}"><i class="fas fa-fw fa-trash"></i></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h2>Your custom greenhouse types</h2>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    {% for greenhouse in user_objects %}
                        <li class="list-group-item">
                            <a href="{% url 'greenhouse_detail' greenhouse.id %}">{{ greenhouse.id }}</a>
                            <a href="{% url 'greenhouse_update' greenhouse.id %}"><i class="fas fa-fw fa-edit"></i></a>
                            <a id="delete-greenhouse-{{ greenhouse.id }}"
                               href="{% url 'greenhouse_delete' greenhouse.id %}">
                                <i class="fas fa-fw fa-trash"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                You need to be logged in to see your custom greenhouse types.
                <a href="{% url 'login' %}?next={{ request.path | urlencode }}">
                    Login now.
                </a>
            </div>
        </div>
    {% endif %}
    <div class="row mt-3">
        <div class="col">
            <a href="{% url 'material_create' %}">
                <i class="fas fa-fw fa-plus"></i> Create new custom greenhouse type
            </a>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    {{ block.super }}

{% endblock javascript %}