{% extends 'maps_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Maps | Nantes Greenhouses{% endblock %}

{% block map_header %}{{ map_header }}{% endblock %}

{% block filter_form %}
    <form id="greenhouse-filter-form" method="GET">
        {% csrf_token %}
        {% crispy form form.helper %}
    </form>
{% endblock filter_form %}

{% block javascript %}
    {{ block.super }}
    {{ map_config|json_script:"mapConfig" }}
    <script type="text/javascript">

        const mapConfig = JSON.parse(document.getElementById("mapConfig").textContent);

        async function filterFeatures() {

            const params = L.Util.extend({
                heating: readSingleChoiceCheckbox('heating'),
                lighting: readSingleChoiceCheckbox('lighting'),
                prod_mode: readSingleChoiceCheckbox('prod_mode'),
                cult_man: readSingleChoiceCheckbox('cult_man'),
                cucumber: document.getElementById("id_crops_0").checked,
                tomato: document.getElementById("id_crops_1").checked
            });
            let summary = await fetchFeatureGeometries("{% url 'data.nantes_greenhouses' %}?", params, mapConfig)
            await renderSummary(summary)

        }

        window.onload = () => loadMap(mapConfig);
    </script>
{% endblock javascript %}