{% extends 'maps_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Maps | Nantes Greenhouses{% endblock %}

{% block map_header %}{{ map_header }}{% endblock %}

{% block filter_form %}
    <form id="greenhouse-filter-form" method="GET">
        {% csrf_token %}
        {% crispy form form.helper %}
    </form>
{% endblock filter_form %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">

        const mapConfig = {
            'base_url': "{% url 'ajax_region_geometries' %}",
            'region_id': 9,
            'load_features': true,
            'markerStyle': {
                color: '#4061d2',
                fillOpacity: 1,
                radius: 5,
                stroke: false
            }
        };

        async function filterFeatures() {

            const params = L.Util.extend({
                heating: readSingleChoiceCheckbox('heating'),
                lighting: readSingleChoiceCheckbox('lighting'),
                prod_mode: readSingleChoiceCheckbox('prod_mode'),
                cult_man: readSingleChoiceCheckbox('cult_man'),
                cucumber: document.getElementById("id_crops_1").checked,
                tomato: document.getElementById("id_crops_2").checked
            });
            let summary = await fetchFeatureGeometries("{% url 'data.nantes_greenhouses' %}?", params, mapConfig)
            await renderSummary(summary)

        }

        window.onload = () => loadMap(mapConfig);

    </script>
{% endblock javascript %}