// Form component mobile tweaks

@media (max-width: 414px) {
  html body .form-group {
    margin-bottom: 0.5rem !important;
  }
}

// BRIT | Cap Select2 dropdown width and overflow
.select2-container .select2-dropdown {
  max-width: 100% !important;
  box-sizing: border-box;
  overflow-x: auto;
}
