{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col col-lg-12 col-xl-7">
            <div class="card shadow">
                <div class="card-header"><strong>Update weight shares</strong></div>
                <div class="card-body">
                    <div id="form-container justify-content-center">
                        <form method="post">
                            {% csrf_token %}
                            {% crispy form form_helper %}

                            {% for formset in inlines %}
                                {% crispy formset inline_helper%}
                            {% endfor %}

                            <input type="submit" class="btn btn-primary" value="Save"/>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
