{% extends 'base.html' %}
{% load static %}

{% block title %}BRIT | Material Samples{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col col-12 col-md-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-header bg-body-tertiary border-bottom-0 py-3"><h5 class="mb-0"><i class="fas fa-fw fa-leaf"></i> Materials</h5></div>
                <div class="card-body">
                    <p class="card-text">
                        BRIT Materials is a module to define and analyze heterogeneous materials from biogeneous
                        residues. You can find out more about the composition of materials with respect to different
                        separation methods. The materials can be included in inventories in the soon to come
                        inventories module.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'sample-list' %}" class="nowrap">
                        <i class="fas fa-fw fa-list"></i> see as list
                    </a>
                    {% if perms.materials %}
                        <a href="{% url 'materials-dashboard' %}" class="nowrap ms-3">
                            <nobr><i class="fas fa-fw fa-th-large"></i> Explorer</nobr>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-header bg-body-tertiary border-bottom-0 py-3">
                    <h5 class="mb-0"><i class="fas fa-fw fa-graduation-cap"></i> Learning Material</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        To learn more about bioresources from different sources, check out the Lectures for
                        Future series of the Hamburg Open Online University.
                        Recommended lectures for this topic:
                    </p>
                    <ul>
                        <li>
                            <a href="https://www.hoou.de/projects/lff/pages/residue-and-by-product-based-bioresources"
                               target="_blank">"Residue and By-Product Based Bioresources"
                            </a>
                        </li>
                        <li>
                            <a href="https://www.hoou.de/projects/lff/pages/sustainable-urban-bioresource-management"
                               target="_blank">"Sustainable Urban Bioresource Management
                            </a>
                        </li>
                    </ul>
                    <p class="card-text">
                        An in depth short track course on the circular economy of food waste:
                    </p>
                    <ul>
                        <li>
                            <a href="https://www.hoou.de/projects/biocycle/" target="_blank">
                                The BioCycle - From Resource to Waste to Resource.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        {% for object in object_list %}
            <div class="col col-12 col-md-6 col-lg-3 mb-4">
                {% include 'material_card.html' %}
            </div>
        {% endfor %}

    </div>
{% endblock content %}