{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load render_table from django_tables2 %}

{% block style %}
    <style>
        .toggle-edit {
            display: none
        }
    </style>
{% endblock style %}

{% block content %}



    <!-- start basic material definition -->
    <div class="row">
        <div class="col col-6">
            <div class="card shadow">
                <div class="card-header">
                    <b>Material description</b>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <tr>
                            <td class="col-3"><strong>Name:</strong></td>
                            <td>{{ object.material.name }}</td>
                        </tr>
                        <tr>
                            <td class="col-3"><strong>Description:</strong></td>
                            <td>{{ object.material.description }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="{% url 'material-update' object.material.id %}?next={{ request.path }}"
                       class="modal-link toggle-edit">
                        Edit <i class="fas fa-fw fa-edit"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end basic material definition -->

    <!-- start material composition -->
    <div class="row mt-2">
        <div class="col">
            <div class="card shadow">
                <div class="card-header">
                    <b>Material composition</b>
                    {#                    <div class="switch-container" id="toggle-edit-button">#}
                    {#                        <div class="switch-label">edit</div>#}
                    {#                        <label class="switch " id="toggle-edit-button">#}
                    {#                            <input type="checkbox" class="default" onclick="toggle_edit()">#}
                    {#                            <span class="slider round"></span>#}
                    {#                        </label>#}
                    {#                        <div class="switch-label">read</div>#}
                    {#                    </div>#}
                </div>
                <div class="card-body">
                    {% for group_settings, content in composition.items %}
                        <div class="row mb-3">
                            <div class="col">
                                <div class="card border-left-primary border">
                                    <div class="card-header">
                                        <a href="{% url 'material_component_group_detail' group_settings.group.id %}"
                                           class="modal-link">
                                            <b>{{ group_settings.group.name }}</b>
                                        </a>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="row">
                                            <div class="col col-6">
                                                {% render_table content.averages_table %}
                                            </div>
                                            <div class="col col-6 px-4 py-5">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <b>Fractions base on:</b>
                                                        </td>
                                                        <td>{{ group_settings.fractions_of.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>Sources:</b>
                                                        </td>
                                                        <td>
                                                            {% for source in group_settings.sources.all %}
                                                                <p>
                                                                    <a href="{% url 'bib_source_detail' source.id %}"
                                                                       class="modal-link">
                                                                        {{ source.abbreviation }}
                                                                    </a>
                                                                </p>
                                                            {% endfor %}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div>
                                                    <a href="{% url 'add_source' group_settings.id %}"
                                                       class="modal-link toggle-edit">
                                                        <i class="fas fa-fw fa-plus"></i> Add source
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <table class="table m-0 p-0">
                                                    <tbody>
                                                    <tr>
                                                        <td><b>Seasonality</b></td>
                                                    </tr>
                                                    {% for distribution, table in content.distribution_tables.items %}
                                                        <tr>
                                                            <td>
                                                                <a href="javascript:void(0);"
                                                                   class="accordion-toggle"
                                                                   data-toggle="collapse"
                                                                   data-target="#distribution-table-group-{{ group_settings.id }}-dist-{{ distribution.id }}">
                                                                    Show variation "{{ distribution.name }}"
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{% url 'remove_seasonal_variation' group_settings.id distribution.id %}"
                                                                   class="modal-link toggle-edit">
                                                                    <i class="fas fa-fw fa-trash"></i> Remove this
                                                                    variation
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr class="accordion-body collapse" id="{{ table.id }}">
                                                            <td class="p-0" colspan="2">
                                                                {% render_table table %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td colspan="2">
                                                            <a href="{% url 'add_seasonal_variation' group_settings.id %}"
                                                               class="modal-link toggle-edit">
                                                                <i class="fas fa-fw fa-plus"></i> Add seasonal variation
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <a id="remove-group-{{ group.id }}"
                                           class="modal-link toggle-edit"
                                           href="{% url 'material_component_group_remove' group_settings.id %}">
                                            <i class="fas fa-fw fa-trash"></i> Remove group
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="toggle-edit">
                        <div class="card border-left-primary border">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <a href="{% url 'material_add_component_group' object.id %}"
                                   class="modal-link">
                                    <i class="fas fa-fw fa-plus"></i> Add component group
                                </a>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end material composition -->

    <div id="allow-edit" style="display: none" data-editable="{{ allow_edit }}"></div>

{% endblock content %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">

        $(document).ready(function () {

            if ($("#allow-edit").data()['editable'] === "True") {
                $(".toggle-edit").show()
            }
        });

        function toggle_edit() {
            $(".toggle-edit").toggle()
        }

    </script>

{% endblock javascript %}