{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block style_sheets %}
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
{% endblock style_sheets %}



{% block content %}
    {% load leaflet_tags %}
    {% load crispy_forms_tags %}


    {% leaflet_js plugins="draw" %}
    {% leaflet_css plugins="draw" %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Hamburg Roadside Trees</h1>
    </div>

    <!-- Outer Wrapper -->
    <div class="row h-100">

        <!-- Left Action Column -->
        <div class="col-sm-3">

            <!-- Accordion -->
            <div class="accordion">

                <!-- Filter Form Card -->
                <div class="card shadow">
                    <div class="card-header" role="button" data-toggle="collapse" href="#filter-card-body"
                         aria-expanded="true" aria-controls="filter-card-body">
                        <b>Filter</b>
                    </div>
                    <div class="card-body">
                        <form id="tree-filter-form" method="GET">
                            {#                            {{ bezirk_filter|crispy }}#}
                            {% crispy tree_filter.form %}
                        </form>
                        <button class="btn btn-primary" id="button_tree_type" onclick="queryDatasets()">Submit</button>
                    </div>

                </div>
                <!-- End Filter Form Card -->

                <!-- Result Card -->
                <div class="card shadow">
                    <div class="card-header"><b>Summary</b></div>
                    <div class="card-body">
                        <p>Number of trees:</p>
                        <p id="result-tree-count" style="min-height: 1rem;">
                    </div>
                </div>
                <!-- End Result Card -->

            </div>
            <!-- End Accordion -->
        </div>
        <!-- End Left Action Column -->

        <!-- Map Column -->
        <div class="col">
            <div class="card shadow">
                <div class="card-body p-0">
                    {% leaflet_map "main" %}
                </div>
            </div>
        </div>
        <!-- End Map Column -->

    </div>
    <!-- End Outer Wrapper -->

{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/slider.js' %}"></script>
    <script type="text/javascript">

        let map;
        let myRenderer = L.canvas({padding: 0.5});
        let tree_layer;
        let region_layer;

        window.addEventListener("map:init", function (event) {
            map = event.detail.map;
        });

        async function fetchRegionGeometry() {

            // Define query string for REST API
            let params = L.Util.extend({
                region_id: 3
            });

            let url = "{% url 'ajax_region_geometries' %}" + L.Util.getParamString(params);

            // Remove existing layer
            if (region_layer !== undefined) {
                map.removeLayer(region_layer);
            }

            // Fetch data from REST API
            let response = await fetch(url);
            let data = await response.json();

            // Render geodata on map
            let geodata;
            geodata = data['geoJson'];
            region_layer = L.geoJson(geodata, {
                style: region_layer_style
            })
            region_layer.addTo(map);
            map.fitBounds(region_layer.getBounds())
        }

        async function queryDatasets() {
            let ids = []
            let inputs = document.getElementsByName('bezirk')
            for (i = 0; i < inputs.length; i++) {
                if (inputs[i].checked === true) {
                    ids.push(inputs[i].value)
                }
            }
            let params = {
                {#'gattung_deutsch': document.getElementById("id_gattung_deutsch").value,#}
                'bezirk': ids,
                'pflanzjahr_min': document.getElementById("id_pflanzjahr_min").value,
                'pflanzjahr_max': document.getElementById("id_pflanzjahr_max").value,
            };

            let dataurl = "{% url 'data.hamburg_roadside_trees' %}?" + $.param(params);

            // Remove existing layer
            if (tree_layer !== undefined) {
                map.removeLayer(tree_layer);
            }

            // Fetch data from REST API
            let response = await fetch(dataurl);
            let data = await response.json();

            // Render geodata on map
            let geodata = data['geoJson'];
            tree_layer = L.geoJson(geodata, {
                pointToLayer: function (feature, latlng) {
                    return L.circleMarker(latlng, {
                        renderer: myRenderer,
                        color: '#63c36c',
                        fillOpacity: 1,
                        radius: 5,
                        stroke: false
                    })
                },
                onEachFeature: function onEachFeature(feature, layer) {
                }
            }).addTo(map);

            // Fill "Results" section with analysis data from the analysis dict
            let analysis = data['analysis'];

            $("#result-tree-count")[0].innerHTML = analysis['tree_count'].toString();
        }

        function onLoad() {
            fetchRegionGeometry();
            map.invalidateSize();
        }

        window.onload = () => onLoad();

    </script>
{% endblock %}
