{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}

{% block content %}

    {% leaflet_js %}
    {% leaflet_css %}

    <div class="row">

        <div class="col">
            <div class="card shadow">
                <div class="card-header"><b>
                    {% block map_header %}{% endblock %}
                </b></div>
                <div class="card-body p-0">
                    {% leaflet_map "main" %}
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="accordion">
                <div class="card shadow">
                    <div class="card-header" role="button" data-toggle="collapse" href="#filter-card-body"
                         aria-expanded="true" aria-controls="filter-card-body">
                        <b>Filter</b>
                    </div>
                    <div class="card-body collapse show" id="filter-card-body">
                        {% block filter_form %}{% endblock %}
                        <button class="btn btn-primary" id="button_tree_type" onclick="filterFeatures()">
                            Filter
                        </button>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header"><b>Summary</b></div>
                    <div class="card-body">
                        <div id="summary-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/maps.js' %}"></script>
{% endblock %}
