{% extends "base.html" %}
{% load static %}
{% block style_sheets %}
  <link href="{% static 'css/waste_atlas.min.css' %}?v=20260813-1"
        rel="stylesheet">
{% endblock style_sheets %}
{% block body_class %} sb-sidenav-toggled{% endblock body_class %}
{% block content %}
  <div class="atlas-shell" id="atlas-shell">
    <div class="atlas-shell-main">
      <nav class="atlas-tree" id="atlas-tree" aria-label="Waste Atlas maps">
        {% include "waste_atlas/includes/shell_tree.html" %}
      </nav>
      <div class="atlas-tree-scrim" id="atlas-tree-scrim"></div>
      <div class="atlas-workspace">
        <button class="atlas-tree-toggle"
                id="atlas-tree-toggle"
                type="button"
                aria-controls="atlas-tree"
                aria-expanded="false">
          <i class="fas fa-bars"></i>
          <span>Maps</span>
        </button>
        {% block atlas_workspace %}
        {% endblock atlas_workspace %}
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  {% block atlas_vendor_javascript %}
  {% endblock atlas_vendor_javascript %}
  {% include "waste_atlas/includes/render_defaults.html" %}
  <script src="{% static 'js/waste_atlas_choropleth.min.js' %}?v=20260730-4"></script>
  <script>WasteAtlasChoropleth.initShell();</script>
  {% block atlas_page_javascript %}
  {% endblock atlas_page_javascript %}
{% endblock javascript %}
