{% load static %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-light accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center mx-0" href="{% url 'home' %}">
        <img class="sidebar-brand-icon img-fluid" src="{% static 'img/LOGO_Flexibi_Farbe.png' %}" alt="Flexibi logo">
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Start</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Tools
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <!-- Bioresource explorer -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'bioresource_explorer_home' %}">
            <i class="fas fa-fw fa-globe-europe"></i>
            <span>Maps</span></a>
    </li>

    <!-- Material manager -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'material_list' %}">
            <i class="fas fa-fw fa-leaf"></i>
            <span>Materials</span></a>
    </li>

    <!-- Scenario builder -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'scenario_list' %}">
            <i class="fas fa-fw fa-chart-bar"></i>
            <span>Inventories</span></a>
    </li>
    {#    <li class="nav-item">#}
    {#        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"#}
    {#           aria-controls="collapseOne">#}
    {#            <i class="fas fa-fw fa-cog"></i>#}
    {#            <span>Inventories</span>#}
    {#        </a>#}
    {#        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">#}
    {#            <div class="bg-white py-2 collapse-inner rounded">#}
    {#                <h6 class="collapse-header">Scenario components:</h6>#}
    {#                <a class="collapse-item" href="{% url 'catchment_list' %}">Catchments</a>#}
    {#                <a class="collapse-item" href="{% url 'greenhouse_list' %}">Greenhouses</a>#}
    {#                <a class="collapse-item" href="{% url 'scenario_list' %}">Scenarios</a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </li>#}

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Sites
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'contributors' %}">
            <i class="fas fa-fw fa-info-circle"></i>
            <span>About</span></a>
    </li>

    <!-- Nav Item - Charts -->


    <!-- Divider -->
    {#    <hr class="sidebar-divider">#}

    <!-- Heading -->
    {#        <div class="sidebar-heading">#}
    {#            Addons#}
    {#        </div>#}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>