{% extends "detail_with_options.html" %}

{% block title %}
  BRIT | Material: {{ material.name }} (Mock)
{% endblock title %}

{% block detail_header %}
  {{ material.name }} (Mock)
{% endblock detail_header %}

{% block detail_body %}
  {% if perms.processes.access_app_feature %}
    <p>
      <strong>Name:</strong> {{ material.name }}
    </p>
    <p>
      <strong>Category:</strong> {{ material.category }}
    </p>
    <p>
      <strong>Description:</strong> {{ material.description }}
    </p>
    <ul>
      <li>
        <strong>Typical composition:</strong> {{ material.composition }}
      </li>
      <li>
        <strong>Common uses:</strong> {{ material.uses }}
      </li>
      <li>
        <strong>Related processes:</strong> {{ material.related_processes }}
      </li>
    </ul>
  {% endif %}
{% endblock detail_body %}
