{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}
        Edit
    {% else %}
        Create
    {% endif %}
    Process
{% endblock title %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">BRIT</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'processes:dashboard' %}">Processes</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'processes:process-list' %}">Processes</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if object %}
            Edit
        {% else %}
            Create
        {% endif %}
    </li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12">
                <h1>
                    {% if object %}
                        Edit
                    {% else %}
                        Create
                    {% endif %}
                    Process
                </h1>
            </div>
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Main Process Information -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Basic Information</h5>
                        </div>
                        <div class="card-body">{% crispy form %}</div>
                    </div>
                </div>
            </div>

            <!-- Materials -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Materials (Inputs & Outputs)</h5>
                        </div>
                        <div class="card-body">
                            {% include "bootstrap5/formset_base.html" with formset=inlines.0 layout="div" form_id="materials" %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Operating Parameters -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Operating Parameters</h5>
                        </div>
                        <div class="card-body">
                            {% include "bootstrap5/formset_base.html" with formset=inlines.1 layout="div" form_id="parameters" %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Links -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Links</h5>
                        </div>
                        <div class="card-body">
                            {% include "bootstrap5/formset_base.html" with formset=inlines.2 layout="div" form_id="links" %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Info Resources -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Information Resources</h5>
                        </div>
                        <div class="card-body">
                            {% include "bootstrap5/formset_base.html" with formset=inlines.3 layout="div" form_id="resources" %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- References -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>References</h5>
                        </div>
                        <div class="card-body">
                            {% include "bootstrap5/formset_base.html" with formset=inlines.4 layout="div" form_id="references" %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Form Actions -->
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="bi bi-check-circle"></i> Save Process
                    </button>
                    <a href="{% if object %}{% url 'processes:process-detail' object.pk %}{% else %}{% url 'processes:process-list' %}{% endif %}"
                       class="btn btn-secondary btn-lg">Cancel</a>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
