{% extends "filtered_list.html" %}
{% load user_created_object_tags %}
{% load moderation_tags %}
{% load process_navigation %}

{% block title %}BRIT | Process Categories{% endblock %}

{% block list_intro %}
    {% process_discovery_nav "categories" compact=True %}
{% endblock list_intro %}

{% block list_table_head %}
<thead>
    <tr>
        {% include "object_management/bulk_select_th.html" %}
        <th>Name</th>
        <th>Description</th>
        {% if object_list.model|is_user_created %}<th class="actions-column">Status/Actions</th>{% endif %}
    </tr>
</thead>
{% endblock %}

{% block list_table_row %}
<tr tabindex="0"
    role="link"
    onclick="window.location='{% detail_or_review_url object use_back=True %}'"
    onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();window.location='{% detail_or_review_url object use_back=True %}'}">
    {% include "object_management/bulk_select_td.html" %}
    <td>
        <a href="{% detail_or_review_url object use_back=True %}"
           aria-label="View details of {{ object.name }}">{{ object.name }}</a>
    </td>
    <td>{{ object.description|truncatewords:15 }}</td>
    {% if object_list.model|is_user_created %}
        <td class="actions-column mobile-no-label">{% include 'object_management/status_actions_cell.html' %}</td>
    {% endif %}
</tr>
{% endblock %}
