{% extends 'filtered_list.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}BRIT | Sources{% endblock %}

{% block list_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Abbreviation</th>
                <th>Authors</th>
                <th>Title</th>
                <th>Type</th>
            </tr>
        </thead>
        {% for object in object_list %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.abbreviation }}</a></td>
                <td><a href="{{ object.get_absolute_url }}">{{ object.authors }}</a></td>
                <td><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></td>
                <td>{{ object.type }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock list_body %}

{% block list_footer %}
    <a href="{{ create_url }}">
        <i class="fas fa-fw fa-plus"></i> {{ create_url_text }}
    </a>
{% endblock list_footer %}

{% block filter_body %}
    <form method="get">
        {% crispy filter.form %}
        <button id="btn-filter" class="btn btn-primary" type="submit">Filter</button>
    </form>
{% endblock filter_body %}