{% extends "registration/registration_base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block card_header %}Reset Password{% endblock %}

{% block card_body %}
    <p>
        {% blocktrans %}
            Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new
            one.
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary btn-user w-100" value="{% trans 'Reset password' %}"/>
    </form>
{% endblock %}
