{% extends 'base.html' %}

{% block content %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% leaflet_js plugins="ALL" %}
{% leaflet_css plugins="ALL" %}
    
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Catchment definition</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- Filter Form -->
<div class="row h-100">
    <div class="col">
        <h1>Edit {{ Object }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <input type="submit"/>
        </form>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript">

var map;
var myRenderer = L.canvas({ padding: 0.5 });
var treeLayer;
<!-- var drawnItems = new L.FeatureGroup(); -->
<!-- var drawControl = new L.Control.Draw({ -->
            <!-- edit: { -->
                <!-- featureGroup: drawnItems -->
            <!-- } -->
        <!-- }); -->

window.addEventListener("map:init", function (event) {
    map = event.detail.map;
});
  
async function queryDatasets(){
    
    // Define query string for REST API
    var params = L.Util.extend({
            gattung_deutsch : document.getElementById("id_gattung_deutsch").value,
            bezirk : document.getElementById("input_bezirk").value,
            pflanzjahr_min : document.getElementById("id_pflanzjahr_min").value,
            pflanzjahr_max : document.getElementById("id_pflanzjahr_max").value,
        });
        
    var dataurl = "{% url 'data.hamburg_roadside_trees' %}" + L.Util.getParamString(params);
    console.log(dataurl)
    
    // Remove existing layer
    if (treeLayer != undefined) {
      map.removeLayer(treeLayer);
    };
    
    // Fetch data from REST API
    let response = await fetch(dataurl);
    let data = await response.json();
    console.log(data);
    
    // Render geodata on map
    geodata = data['geoJson']
    treeLayer = L.geoJson(geodata, {
        pointToLayer: function (feature, latlng) {
            return L.circleMarker(latlng, {
                renderer: myRenderer,
                color: '#63c36c',
                fillOpacity: 1,
                radius: 5,
                stroke: false
            })
        },
        onEachFeature: function onEachFeature(feature, layer) {
        }
    }).addTo(map);
    
    // Fill "Results" section with analysis data from the analysis dict
    analysis = data['analysis']
    
    $("#result-tree-count")[0].innerHTML = analysis['tree_count'].toString();
}
  

    </script>
{% endblock %}