<div class="modal fade" id="modal-confirm-delete" tabindex="-1" role="dialog"
     aria-labelledby="modal-confirm-delete-label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-confirm-delete-label">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form id="delete-confirmation-form" method="POST">
                    {% csrf_token %}
                    <button type="submit" value="confirm" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
