{% extends 'base.html' %}

{% block content %}
{% load leaflet_tags %}

{% leaflet_js %}
{% leaflet_css %}
    
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Bioresource Explorer</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- Filter Form -->
<div class="row h-100">
    <div class="col-sm-3">
        <h3>Search Filter:</h3>
        <div><table cellpadding="10">
            <tr>
                <td align="right"><label for="input_tree_type">Baumart:</label></td>
                <td><input id="input_tree_type" type="text" value="Linde"></input></td>
            </tr>
            <tr>
                <td align="right"><label for="input_bezirk">Bezirk:</label></td>
                <td><input id="input_bezirk" type="text" value="Altona"></input></td>
            </tr>
            <tr>
                <td align="right"><label for="input_pflanzjahr_min">Gepflanzt nach:</label></td>
                <td><input id="input_pflanzjahr_min" type="text" value="1800"></input></td>
            </tr>
            <tr>
                <td align="right"><label for="pflanzjahr_max">Gepflanzt vor:</label></td>
                <td><input id="input_pflanzjahr_max" type="text" value="2020"></input></td>  
            </tr>
            <tr>
                <td colspan="2", align="center"><button id="button_tree_type" onclick="queryDatasets()">Submit</button></td>
            </tr>
        </table></div>
        <div>
            <h3>Summary:</h3>
            <table cellpadding="10">
                <tr>
                    <td>Tree count:</td>
                    <td id="result-tree-count"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col">
        {% leaflet_map "main" %}
    <div class="col">
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript">

var map;
var myRenderer = L.canvas({ padding: 0.5 });
var treeLayer;

window.addEventListener("map:init", function (event) {
    map = event.detail.map;
});
  
async function queryDatasets(){
    
    // Define query string for REST API
    var params = L.Util.extend({
            gattung_deutsch : document.getElementById("input_tree_type").value,
            bezirk : document.getElementById("input_bezirk").value,
            pflanzjahr_min : document.getElementById("input_pflanzjahr_min").value,
            pflanzjahr_max : document.getElementById("input_pflanzjahr_max").value,
        });
        
    var dataurl = "{% url 'data.hamburg_roadside_trees' %}" + L.Util.getParamString(params);
    console.log(dataurl)
    
    // Remove existing layer
    if (treeLayer != undefined) {
      map.removeLayer(treeLayer);
    };
    
    // Fetch data from REST API
    let response = await fetch(dataurl);
    let data = await response.json();
    
    // Render geodata on map
    geodata = data['geoJson']
    treeLayer = L.geoJson(geodata, {
        pointToLayer: function (feature, latlng) {
            return L.circleMarker(latlng, {
                renderer: myRenderer,
                color: '#63c36c',
                fillOpacity: 1,
                radius: 5,
                stroke: false
            })
        },
        onEachFeature: function onEachFeature(feature, layer) {
        }
    }).addTo(map);
    
    // Fill "Results" section with analysis data from the analysis dict
    analysis = data['analysis']
    
    $("#result-tree-count")[0].innerHTML = analysis['tree_count'].toString();
}
  

    </script>
{% endblock %}
