<!DOCTYPE html>
<html>
<head>
</head>
<body>
   <form method="get">
    <p><label for="id_gattung_deutsch">Gattung deutsch:</label> <input type="text" name="gattung_deutsch" value="Weissdorn" id="id_gattung_deutsch"></p>
    <p><label for="id_bezirk">Bezirk:</label> <input type="text" name="bezirk" value="Eimsbüttel" id="id_bezirk"></p>
    <p><label for="id_pflanzjahr">Pflanzjahr:</label> <input type="number" name="pflanzjahr" value="1990" step="any" id="id_pflanzjahr"></p>
    <p><label for="id_stammumfang">Stammumfang:</label> <input type="number" name="stammumfang" step="any" id="id_stammumfang"></p>
    <button type="submit">Search</button>
   </form>
   <ul>
   {% for tree in filter.qs %}
    <li>{{ tree.gattung_deutsch }} - {{ tree.bezirk }} - {{ tree.pflanzjahr }} - {{ tree.stammumfang }} - {{ tree.geom }}</li>
   {% endfor %}
   </ul>
</body>
</html>