{% extends "filtered_list.html" %}
{% load crispy_forms_tags %}
{% load user_created_object_tags %}
{% load moderation_tags %}

{% block title %}
    BRIT | Maps | Catchments
{% endblock title %}

{% block list_card_header %}
    <strong>Catchments</strong>
{% endblock list_card_header %}

{% block list_table %}
    <table class="table table-responsive-stack">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                {% if object_list.model|is_user_created %}<th class="actions-column">Status/Actions</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td data-label="Name">
                        <a href="{% detail_or_review_url object %}">{{ object.name }}</a>
                    </td>
                    <td data-label="Type">{{ object.type }}</td>
                    {% if object_list.model|is_user_created %}
                        <td class="actions-column mobile-no-label">{% include "object_management/status_actions_cell.html" %}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock list_table %}
