{% extends 'simple_detail_card.html' %}
{% load static %}
{% load leaflet_tags %}

{% block style_sheets %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block title %}BRIT | Maps | Catchment: {{ object.name }}{% endblock %}

{% block detail_header %}Catchment: {{ object.name }}{% endblock %}

{% block detail_top_image %}<div class="card-img-top">{% leaflet_map "main" %}</div>{% endblock %}

{% block detail_body %}
    <p class="card-text"><strong>Name:</strong><br>{{ object.name }}</p>
    <p class="card-text"><strong>Type:</strong><br>{{ object.type }}</p>
    {% if object.region %}
        <p class="card-text">
            <strong>Region:</strong><br>
            {{ object.region }}
        </p>
    {% endif %}
    {% if object.parent_region %}
        <p class="card-text">
            <strong>Parent region:</strong><br>
            {{ object.parent_region }}
        </p>
    {% endif %}
    {% if object.description %}
        <p class="card-text"><strong>Description:</strong><br>{{ object.description }}</p>
    {% endif %}
    {% block additional_details %}{% endblock %}
{% endblock %}

{% block detail_footer %}
    <a href="javascript:history.go(-1)" class="nowrap">
        <i class="fas fa-fw fa-arrow-left"></i> back
    </a>
    <a href="{% url 'catchment-list' %}" class="nowrap ml-3">
        <i class="fas fa-fw fa-list"></i> see all
    </a>
    {% if 'maps.change_catchment' in perms %}
        <a href="{% url 'catchment-update' object.pk %}" class="nowrap ml-3">
            <i class="fas fa-fw fa-edit"></i> edit
        </a>
    {% endif %}
    {% if 'maps.delete_catchment' in perms %}
        <a href="{% url 'catchment-delete-modal' object.pk %}" class="nowrap modal-link ml-3">
            <i class="fas fa-fw fa-trash"></i> delete
        </a>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/maps.js' %}"></script>
    {{ map_config|json_script:"mapConfig" }}
    <script type="text/javascript">

        function parseFilterParameters() {
            const params = new URLSearchParams();
            params.append('catchment', {{ object.pk }});
            return params
        }

        const mapConfig = JSON.parse(document.getElementById("mapConfig").textContent);
        window.onload = () => loadMap(mapConfig);
    </script>
{% endblock javascript %}