{% extends 'geo_form_card.html' %}
{#{% load static %}#}
{#{% load crispy_forms_tags %}#}
{#{% load leaflet_tags %}#}
{##}
{#{% block style_sheets %}#}
{#    {{ block.super }}#}
{#    {% leaflet_js plugins="ALL" %}#}
{#    {% leaflet_css plugins="ALL" %}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="row">#}
{#        <div class="col-md-6">#}
{#            <div class="card card-shadow">#}
{#                <div class="card-header">#}
{#                    <strong>Location</strong>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <div id="form-container">#}
{#                        <form method="post" enctype="multipart/form-data">#}
{#                            {% crispy form %}#}
{#                            <button type="submit" class="btn btn-primary">Create</button>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="card-footer"></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock content %}#}
