{% extends 'geo_detail_card.html' %}

{% block title %}BRIT | Maps | Region: {{ object.name }}{% endblock %}

{% block detail_header %}Region: {{ object.name }}{% endblock %}

{% block detail_body %}
    <p class="card-text"><strong>Name:</strong><br>{{ object.name }}</p>
    {% if object.country %}
        <p class="card-text"><strong>Country:</strong><br>{{ object.country }}</p>
    {% endif %}
    {% if object.description %}
        <p class="card-text"><strong>Description:</strong><br>{{ object.description }}</p>
    {% endif %}
    {% block additional_details %}{% endblock %}
{% endblock %}
