{#This is code from an initial idea. Not used at the moment and needs to be adapted,#}
{#when there is a usecase for drawing custom borders for regions#}

{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_filters %}

{% block content %}

    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Catchment definition</h1>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col col-4">
                <div class="card">
                    <div class="card-header">
                        <b>Catchment Information</b>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form.region|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.description|as_crispy_field }}
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                        <a class="btn btn-secondary" type="button" href="{% url 'catchment-list' %}">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <div class="card-body p-0">
                        {{ form.geom|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/map-styles.js' %}"></script>

    <script type="text/javascript">

        let map;
        const myRenderer = L.canvas({padding: 0.5});
        let region_layer;

        window.addEventListener("map:init", function (event) {
            map = event.detail.map;
        });

        async function queryDatasets() {

            // Define query string for REST API
            const params = L.Util.extend({
                gattung_deutsch: document.getElementById("id_gattung_deutsch").value,
                bezirk: document.getElementById("input_bezirk").value,
                pflanzjahr_min: document.getElementById("id_pflanzjahr_min").value,
                pflanzjahr_max: document.getElementById("id_pflanzjahr_max").value,
            });

            const dataurl = "{% url 'data.hamburg_roadside_trees' %}" + L.Util.getParamString(params);

            // Remove existing layer
            if (treeLayer !== undefined) {
                map.removeLayer(treeLayer);
            }

            // Fetch data from REST API
            let response = await fetch(dataurl);
            let data = await response.json();

            // Render geodata on map
            let geodata = data['geoJson']
            treeLayer = L.geoJson(geodata, {
                pointToLayer: function (feature, latlng) {
                    return L.circleMarker(latlng, {
                        renderer: myRenderer,
                        color: '#63c36c',
                        fillOpacity: 1,
                        radius: 5,
                        stroke: false
                    })
                },
                onEachFeature: function onEachFeature(feature, layer) {
                }
            }).addTo(map);

            // Fill "Results" section with analysis data from the analysis dict
            let analysis = data['analysis']

            $("#result-tree-count")[0].innerHTML = analysis['tree_count'].toString();
        }

        async function fetchRegionGeometry() {

            // Define query string for REST API
            let params = L.Util.extend({
                region_id: document.getElementById("id_region").value
            });

            let url = "{% url 'ajax_region_geometries' %}" + L.Util.getParamString(params);

            // Remove existing layer
            if (region_layer !== undefined) {
                map.removeLayer(region_layer);
            }

            // Fetch data from REST API
            let response = await fetch(url);
            let data = await response.json();

            // Render geodata on map
            let geodata;
            geodata = data['geoJson'];
            region_layer = L.geoJson(geodata, {
                style: region_layer_style
            })

            region_layer.addTo(map);
            map.fitBounds(region_layer.getBounds())
        }


        document.getElementById("id_region").onchange = () => {
            fetchRegionGeometry()
        }

    </script>

{% endblock %}
