{% extends "detail_with_options.html" %}
{% load moderation_tags %}

{% object_policy object as policy %}

{% block detail_header_badge %}
    {% include "object_management/review_status_badge.html" with object=object %}
{% endblock detail_header_badge %}

{% block detail_body %}
    <p class="card-text">
        <strong>Collections:</strong>
        <br>
    </p>
    <ul>
        {% for collection in object.collections.all %}
            <li>
                <a href="{{ collection.get_absolute_url }}">{{ collection }}</a>
            </li>
        {% endfor %}
    </ul>
    <p class="card-text">
        <strong>Property:</strong>
        <br>
        {{ object.property }}
    </p>
    <p class="card-text">
        <strong>Year:</strong>
        <br>
        {{ object.year }}
    </p>
    {% if object.standard_deviation %}
        <p class="card-text">
            <strong>Value:</strong>
            <br>
            {{ object.average }} ± {{ object.standard_deviation }} {{ object.unit }}
        </p>
    {% else %}
        <p class="card-text">
            <strong>Value:</strong>
            <br>
            {{ object.average }} {{ object.unit }}
        </p>
    {% endif %}
    {% if object.sources.exists %}
        <p class="card-text">
            <strong>Sources:</strong>
        </p>
        <ul>
            {% for source in object.sources.all %}
                <li>
                    <a href="{{ source.get_absolute_url }}">{{ source.abbreviation }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock detail_body %}
