{% extends "detail_with_options.html" %}

{% block detail_header_primary_actions %}
    <div class="btn-group me-2" role="group">
        {% with back_url=request.GET.back %}
            {% if back_url %}
                <a class="btn btn-sm btn-outline-secondary"
                   href="{{ back_url }}"
                   title="Back to results">
                    <i class="fas fa-arrow-left"></i>
                    <span class="d-none d-md-inline">Back to results</span>
                </a>
            {% endif %}
        {% endwith %}
        {% if object.list_url %}
            <a class="btn btn-sm btn-outline-secondary"
               href="{{ object.list_url }}"
               title="List">
                <i class="fas fa-list-ul"></i>
                <span class="d-none d-md-inline">List</span>
            </a>
        {% endif %}
        <a class="btn btn-sm btn-outline-secondary"
           href="{% url 'wastecollection-explorer' %}"
           title="Open Explorer (dashboard)">
            <i class="fas fa-table-cells-large"></i>
            <span class="d-none d-md-inline">Explorer</span>
        </a>
    </div>
    {{ block.super }}
{% endblock detail_header_primary_actions %}

{% block detail_body %}
    <p class="card-text">
        <strong>Name:</strong>
        <br>
        {{ object.name }}
    </p>
    <p class="card-text">
        <strong>Website:</strong>
        <br>
        <a href="{{ object.website }}" target="blank">{{ object.website }}</a>
    </p>
    {% if object.catchment %}
        <p class="card-text">
            <strong>Catchment:</strong>
            <br>
            <a href="{% url 'collectioncatchment-detail' object.catchment.pk %}">{{ object.catchment }}</a>
        </p>
    {% endif %}
    {% if object.comments %}
        <p class="card-text">
            <strong>Comments:</strong>
            <br>
            {{ object.description }}
        </p>
    {% endif %}
    <p class="card-text">
        <strong>Collections:</strong>
    </p>
    {% if object.collection_set.exists %}
        <ul>
            {% for collection in object.collection_set.all %}
                <li>
                    <a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="card-text">
            <br>
            No collections so far
        </p>
    {% endif %}
    {% if 'soilcom.add_collection' in perms %}
        <a href="{% url 'collection-create' %}?collector={{ object.pk }}">
            <i class="fas fa-fw fa-plus"></i> Create a new collection for this collector
        </a>
    {% endif %}
{% endblock detail_body %}

{% block detail_card_footer %}
{% endblock detail_card_footer %}
