{% extends 'filtered_list.html' %}
{% load crispy_forms_tags %}
{% load moderation_tags %}

{% block title %}BRIT | Waste collecting entities{% endblock %}

{% block list_card_header %}<strong>Collectors</strong>{% endblock %}

{% block list_table %}
    <table class="table table-responsive-stack">
        <thead>
        <tr>
            <th>Name</th>
            <th>Catchment</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td data-label="Name"><a href="{% detail_or_review_url object %}">{{ object.name }}</a></td>
                <td data-label="Catchment">{{ object.catchment }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endblock list_table %}

{% block list_footer %}
    {% if 'soilcom.add_collector' in perms %}
        <a class="mr-2 text-nowrap" href="{% url 'collector-create' %}?next={{ request.get_full_path|urlencode }}">
            <i class="fa fa-fw fa-plus"></i>
            <span>Add new collector</span>
        </a>
    {% endif %}
    {% if 'soilcom.change_collector' in perms %}
        <a class="mr-2 text-nowrap" href="{% url 'wastecollection-dashboard' %}">
            <i class="fas fa-fw fa-th-large"></i>
            <span>Explorer</span>
        </a>
    {% endif %}
{% endblock list_footer %}

{% block filter_body %}
    <form method="get">
        {% crispy filter.form %}
        <button id="btn-filter" class="btn btn-primary" type="submit">Filter</button>
    </form>
{% endblock filter_body %}