{% extends 'filtered_list.html' %}
{% load crispy_forms_tags %}

{% block title %}BRIT | Household waste collections{% endblock %}

{% block list_header %}<strong>Collections</strong>{% endblock %}

{% block list_body %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Catchment</th>
            <th>Collector</th>
            <th>Category</th>
            <th>Collection system</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
                <td>{{ object.catchment }}</td>
                <td><a href="{{ object.collector.get_absolute_url }}">{{ object.collector }}</a></td>
                <td><a href="{{ object.waste_stream.category.get_absolute_url }}">{{ object.waste_stream.category }}</a>
                </td>
                <td><a href="{{ object.collection_system.get_absolute_url }}">{{ object.collection_system }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endblock list_body %}

{% block list_footer %}
    <a class="mr-2 text-nowrap" href="{% url 'WasteCollection' %}?{{ request.GET.urlencode }}&load_features=true">
        <i class="fa fa-fw fa-map"></i>
        <span class="text-nowrap">View as map</span>
    </a>
    {% if 'soilcom.add_collection' in perms %}
        <a class="mr-2 text-nowrap" href="{% url 'collection-create' %}?next={{ request.get_full_path|urlencode }}">
            <i class="fa fa-fw fa-plus"></i>
            <span>Add new collection</span>
        </a>
    {% endif %}
    {% if 'soilcom.change_collection' in perms %}
        <a class="mr-2 text-nowrap" href="{% url 'waste-collection-home' %}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Dashboard</span>
        </a>
    {% endif %}
    {% if user.is_authenticated %}
        <span id="export_csv" class="text-nowrap" style="display: inline-block; width: 10em">
            <a href="javascript:void(0)" onclick="export_to_file('csv')">
                <i class="fa fa-fw fa-file-csv"></i>
                <span>Export to csv</span>
            </a>
        </span>
        <span id="export_xlsx" class="text-nowrap" style="display: inline-block; width: 10em">
            <a href="javascript:void(0)" onclick="export_to_file('xlsx')">
                <i class="fa fa-fw fa-file-excel"></i>
                <span>Export to xlsx</span>
            </a>
        </span>
    {% endif %}
{% endblock list_footer %}

{% block filter_body %}
    <form method="get">
        {% crispy filter.form %}
        <button id="btn-filter" class="btn btn-primary" type="submit">Filter</button>
    </form>
{% endblock filter_body %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">

        async function monitor_task_progress(url, format, count = 0) {
            const response = await fetch(url);
            const data = await response.json();
            const elExportWrapper = document.getElementById('export_' + format);
            const elExportLink = elExportWrapper.children[0];
            const elExportLinkText = elExportLink.children[1];
            if (data["state"] === "PENDING") {
                elExportLinkText.innerText = "Exporting to " + format + ".".repeat(count++ % 4);
                elExportLink.classList.add("processing-link");
                setTimeout(monitor_task_progress, 500, url, format, count);
            } else if (data["state"] === "SUCCESS") {
                elExportLinkText.innerText = "Download " + format;
                elExportLink.removeAttribute("onclick");
                elExportLink.href = data["details"];
                elExportLink.classList.remove("processing-link");
            } else if (data["state"] === "FAILURE") {
                elExportLinkText.innerText = "Export to " + format;
                elExportLink.classList.remove("processing-link");
            }
        }

        async function start_task(format) {
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.append('format', format);
            const url = "{% url 'collection-export' %}?" + urlParams.toString();
            const response = await fetch(url);
            const data = await response.json();
            return data["task_id"];
        }

        async function export_to_file(format) {
            const taskId = await start_task(format);
            const url = "{% url 'collection-export-progress' task_id=0 %}".replace('0', taskId);
            monitor_task_progress(url, format);
        }

    </script>

{% endblock javascript %}