{% extends 'simple_list_card.html' %}

{% block list_table %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            {% if list_type == 'private' %}
                <th>Public</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                </td>
                <td>{{ object.type }}</td>
                {% if list_type == 'private' %}
                    {% include 'partials/_publication_status_column.html' %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endblock list_table %}