{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header"><strong>Collection Details</strong></div>
                <div class="card-body">
                    <p class="card-text"><strong>Catchment:</strong><br>{{ object.catchment.name }}</p>
                    <p class="card-text">
                        <strong>Collector:</strong><br>
                        <a href="{{ object.collector.get_absolute_url }}">{{ object.collector.name }}</a>
                    </p>
                    <p class="card-text">
                        <strong>Collection System:</strong><br>
                        <a href="{{ object.collection_system.get_absolute_url }}">{{ object.collection_system.name }}</a>
                    </p>
                    <p class="card-text">
                        <strong>Waste Category:</strong><br>
                        <a href="{{ object.waste_stream.category.get_absolute_url }}">{{ object.waste_stream.category }}</a>
                    </p>
                    <p class="card-text"><strong>Allowed Materials:</strong></p>
                    <ul>
                        {% for material in object.waste_stream.allowed_materials.all %}
                            <li><a href="{{ material.get_absolute_url }}">{{ material }}</a></li>
                        {% endfor %}
                    </ul>

                    {% if object.connection_rate %}
                    <p class="card-text">
                        <strong>Connection Rate:</strong><br>
                        {{ object.connection_rate_string_representation }}
                        {% if object.connection_rate_year %} ({{ object.connection_rate_year }}){% endif %}
                    </p>
                    {% endif %}
                    {% if object.frequency %}
                    <p class="card-text">
                        <strong>Frequency:</strong><br>
                        {{ object.frequency }}
                    </p>
                    {% endif %}
                    {% if object.fee_system %}
                        <p class="card-text">
                            <strong>Fee System:</strong><br>
                            {{ object.fee_system }}
                        </p>
                    {% endif %}

                    {% if object.collectionpropertyvalue_set.exists %}
                        {% regroup object.collectionpropertyvalue_set.all by property as property_list %}
                        {% for prop in property_list %}
                            <p class="card-text"><strong>{{ prop.grouper.name|title }}:</strong></p>
                            <ul>
                            {% for val in prop.list|dictsortreversed:"year" %}
                                <li><a href="{{ val.get_absolute_url }}">
                                {% if val.standard_deviation %}
                                    {{ val.average }} ± {{ val.standard_deviation }} {{ val.property.unit }} ({{ val.year }})
                                {% else %}
                                    {{ val.average }} {{ val.property.unit }} ({{ val.year }})
                                {% endif %}
                                </a></li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    {% endif %}

                    {% if object.samples.exists %}
                        <p class="card-text"><strong>Samples</strong></p>
                        <ul>
                            {% for sample in object.samples.all %}
                                <li><a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}


                    <p class="card-text"><strong>Sources:</strong></p>
                    <ul>
                        {% for flyer in object.flyers.all %}
                            <li><a href="{{ flyer.url }}" target="blank">{{ flyer.url }}</a></li>
                        {% endfor %}
                    </ul>

                    <p class="card-text"><strong>Comments:</strong><br>{{ object.description }}</p>

                </div>
                <div class="card-footer">
                    <a href="javascript:history.go(-1)"><i class="fas fa-fw fa-arrow-left"></i> back</a>
                    <a href="{% url 'collection-list' %}" class="nowrap ml-3">
                        <i class="fas fa-fw fa-list"></i> see all</a>
                    <a href="{% url 'collection-update' object.id %}" class="nowrap ml-3">
                        <i class="fas fa-fw fa-edit"></i> edit</a>
                    <a href="{% url 'collection-wastesamples' object.id %}" class="nowrap ml-3">
                        <i class="fas fa-fw fa-edit"></i> manage samples</a>
                    <a href="{% url 'collection-add-property' object.id %}" class="nowrap ml-3">
                        <i class="fas fa-fw fa-plus-circle"></i> add property</a>
                    <a href="{% url 'collection-copy' object.id %}" class="nowrap ml-3">
                       <i class="fas fa-fw fa-copy"></i> duplicate</a>
                    <a href="{% url 'collection-delete-modal' object.id %}" class="nowrap modal-link ml-3">
                        <i class="fas fa-fw fa-trash"></i> delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}