{% extends "filtered_list.html" %}
{% load crispy_forms_tags %}
{% load user_created_object_tags %}
{% load moderation_tags %}

{% block title %}
    BRIT | Fee Systems
{% endblock title %}

{% block list_card_header %}
    <strong>Fee Systems</strong>
{% endblock list_card_header %}

{% block list_table %}
    <div class="collection-list-min-height">
        <div class="table-responsive">
            <table class="table modern-table">
                <thead>
                    <tr>
                        <th>Fee System</th>
                        {% if object_list.model|is_user_created %}<th class="actions-column">Status/Actions</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td data-label="Fee System" class="ps-3">
                                <a href="{% detail_or_review_url object use_back=True %}"
                                   class="text-decoration-none">
                                    <strong class="d-block">{{ object.name }}</strong>
                                </a>
                            </td>
                            {% if object_list.model|is_user_created %}
                                <td class="actions-column mobile-no-label">{% include "object_management/status_actions_cell.html" %}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock list_table %}

{% block learning_tab_button %}
{% endblock learning_tab_button %}
{% block learning_tab_pane %}
{% endblock learning_tab_pane %}
