{% extends 'bibliography/source_detail.html' %}

{% block detail_body %}
    <p class="card-text"><strong>Url:</strong><br>
        <a href="{{ object.url }}">{{ object.url }}</a>
    </p>
    <p class="card-text"><strong>Url valid:</strong><br>{{ object.url_valid }} {% if object.url_checked %}(last checked:
        {{ object.url_checked|date:'d.m.Y' }}){% endif %}</p>
    <p class="card-text"><strong>Collections:</strong><br>
        {% for collection in object.collections.all %}
            <a href="{% url 'collection-detail' collection.pk %}">{{ collection.name }}</a><br>
        {% endfor %}
    </p>
{% endblock detail_body %}
