{% load custom_tags %}

<div class="modal-header">
    <h5 class="modal-title">Timestep Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p class="card-text"><strong>Name:</strong><br>{{ object.name }}</p>
    <p class="card-text"><strong>Part of temporal distribution:</strong><br>{{ object.distribution.name }}</p>
    {% if object.description %}
        <p class="card-text"><strong>Description:</strong><br>{{ object.description }}</p>
    {% endif %}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
</div>




