scenario_detail.html<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8">
    <title>Scenario output</title>
</head>
<body>
{% block content %}
    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>
    <p>{{ object.region }}</p>
    <p>{{ object.owner }}</p>
    <p>{{ object.catchment }}</p>
    <table>
        {% for entry in inventory_config %}
            <tr>
                <td rowspan="{{ entry.parameters|length|add:'1' }}">{{ entry.algorithm }}</td>
            </tr>
            {% for parameter in entry.parameters %}
                <tr>
                    <td>{{ parameter.name }}</td>
                    <td>{{ parameter.value }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

{% endblock %}
</body>
</html>