{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}

    <h2>Add an algorithm to the scenario "{{ scenario.name }}"</h2>
    <form method="post" id="configForm" data-feedstocks-url="{% url 'ajax_load_feedstocks' %}"
          data-geodatasets-url="{% url 'ajax_load_geodatasets' %}"
          data-algorithms-url="{% url 'ajax_load_algorithms' %}" data-parameters-url="{% url 'ajax_load_parameters' %}">

        {% csrf_token %}
        <table>
            {{ form|crispy }}
        </table>
        <div id="parameterFormContainer" class=form-group></div>
        <button type="submit" class="btn btn-secondary">Save</button>
        <a href="{{ view.get_success_url }}" class="btn btn-secondary">Cancel</a>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_scenario").change(function () {
            const url = $("#configForm").attr("data-feedstocks-url");  // get the url of the `load_cities` view
            const scenarioId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'scenario': scenarioId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_feedstock").html(data);
                }
            });

        });

        $("#id_feedstock").change(function () {
            const url = $("#configForm").attr("data-geodatasets-url");
            const feedstockId = $(this).val();
            const scenarioId = $("#id_scenario").val()

            $.ajax({
                url: url,
                data: {
                    'scenario': scenarioId,
                    'feedstock': feedstockId
                },
                success: function (data) {
                    $("#id_geodataset").html(data);
                }
            });

        });

        $("#id_geodataset").change(function () {
            const url = $("#configForm").attr("data-algorithms-url");
            const feedstockId = $("#id_feedstock").val();
            const geodatasetId = $(this).val()

            $.ajax({
                url: url,
                data: {
                    'geodataset': geodatasetId,
                    'feedstock': feedstockId
                },
                success: function (data) {
                    $("#id_inventory_algorithm").html(data);
                }
            });

        });
        $("#id_inventory_algorithm").change(function () {
            const url = $("#configForm").attr("data-parameters-url");
            const algorithmId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'algorithm': algorithmId,
                },
                success: function (data) {
                    $("#parameterFormContainer").html(data);
                }
            });

        });
    </script>

{% endblock content %}