<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scenario configuration</title>
</head>
<body>
<h1>Configuration:</h1>
<ul>
    {% for entry in object_list %}
        <li><a href="{% url 'scenario_detail' entry.scenario.id %}">{{ entry.scenario }}</a> - <a
                href="{% url 'admin:scenario_builder_inventory_algorithm_add' %}">{{ entry.inventory_algorithm.name }}</a>
            - {{ entry.inventory_parameter }} - {{ entry.inventory_value }}</li>
    {% empty %}
        <li>Scenario not configured</li>
    {% endfor %}
</ul>
</body>
</html>