{% extends 'filtered_list.html' %}
{% load static %}

{% block title %}BRIT | Bibliography | Authors{% endblock %}

{% block list_table_head %}
    <thead>
    <tr>
        <th>Name</th>
        {% if list_type == 'private' %}
            <th>Public</th>
        {% endif %}
    </tr>
    </thead>
{% endblock list_table_head %}

{% block list_table_row %}
    <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
        {% if list_type == 'private' %}
            {% include 'partials/_publication_status_column.html' %}
        {% endif %}
    </tr>
{% endblock list_table_row %}