{% extends 'simple_list_card.html' %}
{% load static %}
{% load user_created_object_tags %}
{% load moderation_tags %}

{% block title %}BRIT | Bibliography | Licences{% endblock %}

{% block list_table %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Reference url</th>
            {% if object_list.model|is_user_created %}
                <th class="actions-column">Status/Actions</th>
            {% endif %}
        </tr>
        </thead>
        {% for object in object_list %}
            <tr>
                <td><a href="{% detail_or_review_url object %}">{{ object }}</a></td>
                <td><a href="{{ object.reference_url }}" target="_blank">{{ object.reference_url }}</a></td>
                {% if object_list.model|is_user_created %}
                    <td class="actions-column mobile-no-label">
                        {% include 'object_management/status_actions_cell.html' %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock list_table %}