{% extends 'simple_list_card.html' %}
{% load static %}

{% block title %}BRIT | Bibliography | Licences{% endblock %}

{% block card_body %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Reference url</th>
        </tr>
        </thead>
        {% for object in object_list %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                <td><a href="{{ object.reference_url }}" target="_blank">{{ object.reference_url }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock card_body %}