{% extends 'filtered_list.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}BRIT | Bibliography | Sources{% endblock %}

{% block list_body %}
    <table class="table table-responsive-stack">
        <thead>
        <tr>
            <th>Abbreviation</th>
            <th>Authors/Publisher</th>
            <th>Title</th>
            <th>Type</th>
        </tr>
        </thead>
        {% for object in object_list %}
            <tr>
                <td data-label="Abbreviation"><a href="{{ object.get_absolute_url }}">{{ object.abbreviation }}</a></td>
                <td data-label="Authors/Publisher">
                {% if object.authors.exists %}
                    {% if object.authors.count > 2 %}
                        {% for author in object.authors.all %}
                        <a href="{{ author.get_absolute_url }}">{{ author.abbreviated_full_name }}</a>{% if not forloop.last %};{% endif %}
                        {% endfor %}
                    {% else %}
                        {% for author in object.authors.all %}
                        <a href="{{ author.get_absolute_url }}">{{ author }}</a>{% if not forloop.last %};{% endif %}
                        {% endfor %}
                    {% endif %}
                {% elif object.publisher %}
                    {{ object.publisher }}
                {% endif %}
                </td>
                <td data-label="Title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></td>
                <td data-label="Type">{{ object.type }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock list_body %}

{% block list_footer %}
    <a class="mr-2 text-nowrap" href="{{ create_url }}">
        <i class="fas fa-fw fa-plus"></i> {{ create_url_text }}
    </a>
    {% if 'bibliography.change_source' in perms %}
        <a class="mr-2 text-nowrap" href="{% url 'bibliography-dashboard' %}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Dashboard</span>
        </a>
    {% endif %}
{% endblock list_footer %}

{% block filter_body %}
    <form method="get">
        {% crispy filter.form %}
        <button id="btn-filter" class="btn btn-primary" type="submit">Filter</button>
    </form>
{% endblock filter_body %}

{% block filter_footer %}{% endblock filter_footer %}