{% extends "detail_with_options.html" %}
{% load moderation_tags %}

{% block detail_body %}
    <p class="card-text">
        <strong>Name:</strong>
        <br>
        {{ object.name }}
    </p>
    <p class="card-text">
        <strong>Unit:</strong>
        <br>
        {{ object.unit }}
    </p>
    {% if object.description %}
        <p class="card-text">
            <strong>Description:</strong>
            <br>
            {{ object.description|markdown_to_html }}
        </p>
    {% endif %}
{% endblock detail_body %}
