{% extends 'base_single_card.html' %}

{% block card_header %}<strong>Create new catchment</strong>{% endblock %}

{% block card_body %}
    <div class="card-text d-flex flex-column align-items-center">
        <p><strong>Please select creation method:</strong></p>
        <p><a class="btn btn-primary" href="{% url 'catchment-create-select-region' %}">Select existing region</a></p>
        <p><a class="btn btn-primary" href="{% url 'catchment-create-merge-lau' %}">Merge LAU regions</a></p>
        <p><a class="btn btn-primary" href="{% url 'catchment-create-draw-custom' %}">Draw custom borders</a></p>
    </div>
{% endblock %}

{% block card_footer %}
    <a href="{% url 'maps-dashboard' %}" class="nowrap mr-3">
        <nobr><i class="fas fa-fw fa-cog"></i> Dashboard</nobr>
    </a>
{% endblock %}
