{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block style_sheets %}
    <link rel="stylesheet" href="{% static 'css/custom-slider.css' %}">
{% endblock style_sheets %}

{% block title %}Maps | {{ map_header }}{% endblock %}

{% block content %}

    {% leaflet_js %}
    {% leaflet_css %}

    <div class="row">

        <div class="col">
            <div class="card shadow">
                <div class="card-header"><b>
                    {{ map_header }}
                </b></div>
                <div class="card-body p-0">
                    {% leaflet_map "main" %}
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="accordion">
                <div class="card shadow">
                    <div class="card-header" role="button" data-toggle="collapse" href="#filter-card-body"
                         aria-expanded="true" aria-controls="filter-card-body">
                        <b>Filter</b>
                    </div>
                    <div class="card-body collapse show" id="filter-card-body">
                        <form method="GET">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                        <button class="btn btn-primary" id="button_tree_type" onclick="filterFeatures()">
                            Filter
                        </button>
                    </div>
                    <div class="card-header"
                         role="button"
                         data-toggle="collapse"
                         href="#summary-container"
                         aria-expanded="true"
                         aria-controls="summary-container">
                        <b>Summary</b>
                    </div>
                    <div class="card-body collapse" id="summary-container">
                        <p class="card-text">No data selected, yet.</p>
                    </div>
                    <div class="card-header"
                         role="button"
                         data-toggle="collapse"
                         href="#sources-body"
                         aria-expanded="true"
                         aria-controls="sources-body">
                        <b>Data source</b>
                    </div>
                    <div class="card-body collapse" id="sources-body">
                        <table class="table">
                            {% for source in geodataset.sources.all %}
                                <a href="{% url 'bib_source_detail' source.id %}"
                                   class="modal-link">
                                    {{ source.abbreviation }}{% if not forloop.last %},{% endif %}
                                </a>
                            {% endfor %}
                        </table>
                        {#                        <div class="collapse multi-collapse">#}
                        {#                            <a href="{% url 'add_bib_source' geodataset.id %}"#}
                        {#                               class="modal-link">#}
                        {#                                <i class="fas fa-fw fa-plus"></i> Add source#}
                        {#                            </a>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    {{ block.super }}
    {{ map_config|json_script:"mapConfig" }}
    {#    <script src="{% static 'js/custom-slider.js' %}"></script>#}
    <script src="{% static 'js/maps.js' %}"></script>
    <script type="text/javascript">

        const mapConfig = JSON.parse(document.getElementById("mapConfig").textContent);
        window.onload = () => loadMap(mapConfig);

    </script>
{% endblock %}
