{% extends 'base.html' %}

{% block title %}BRIT | Maps | Explorer{% endblock %}

{% block content %}

    <div class="row">
        <div class="col col-12 col-md-6">
            <div class="card shadow h-100">
                <div class="card-header bg-body-tertiary border-bottom-0 py-3"><h5 class="mb-0">Maps Explorer</h5></div>
                <div class="card-body">
                    <p class="card-text">
                        The maps module provides all the basic tools for building and managing maps.
                    </p>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header bg-body-tertiary border-bottom-0 py-3">
                    <h5 class="mb-0"><a href="{% url 'maps_list' %}" class="stretched-link text-decoration-none text-body">Datasets</a></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        These datasets contain geo-referenced data that is the basis for bioresource sources.
                        The dataset can be filtered with respect to the information that is available in each,
                        respectively.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'maps_list' %}" class="btn btn-primary">View datasets</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card shadow h-100">
                <div class="card-header bg-body-tertiary border-bottom-0 py-3">
                    <h5 class="mb-0"><a href="{% url 'catchment-list' %}" class="stretched-link text-decoration-none text-body">Catchments</a></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        A catchment is the area that a collection is dedicated to. Usually they are administrative
                        regions, such as counties.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'catchment-list' %}" class="btn btn-primary">View catchments</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}