{% extends "filtered_map.html" %}
{% load crispy_forms_tags %}

{% block map_card_header_actions %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'region-list' %}"
       id="link-regions-as-list"
       data-href-template="/maps/regions/"
       title="List"
       onclick="clickedListLink(); return false;">
        <i class="fas fa-list-ul"></i>
        <span class="d-none d-md-inline">List</span>
    </a>
    {% if 'maps.add_region' in perms %}
        <a class="btn btn-sm btn-outline-secondary"
           href="{% url 'region-create' %}">
            <i class="fas fa-circle-plus"></i>
            <span class="d-none d-md-inline">Create region</span>
        </a>
    {% endif %}
    {{ block.super }}
{% endblock map_card_header_actions %}

{% block map_card_footer %}
{% endblock map_card_footer %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        function clickedListLink() {
            const listLink = document.getElementById('link-regions-as-list');
            window.location.href = listLink.dataset.hrefTemplate + '?' + parseFilterParameters().toString();
        }

        function createFeatureLayerBindings(collectionLayer) {
            collectionLayer.bindTooltip(function(layer) {
                return layer.feature.properties.name.toString();
            });

            collectionLayer.bindPopup(function(layer) {
                return layer.feature.properties.name.toString();
            });
        }
    </script>
{% endblock javascript %}
