{% extends 'simple_list_card.html' %}

{% block title %}BRIT | CLOSECYCLE Showcases{% endblock %}

{% block list_table %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Region</th>
            <th>Description</th>
            {% if list_type == 'private' %}
                <th>Public</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                </td>
                <td>
                    <a href="{{ object.region.get_absolute_url }}">{{ object.region.name }}</a>
                </td>
                <td>{{ object.description }}</td>
                {% if list_type == 'private' %}
                    {% include 'partials/_publication_status_column.html' %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endblock list_table %}

{% block list_card_footer_additional_links %}
    <a href="{% url 'Showcase' %}">
        <i class="fas fa-fw fa-map-marked-alt"></i> View as map
    </a>
{% endblock list_card_footer_additional_links %}