{% extends "geo_detail_card.html" %}
{% load moderation_tags %}

{% block title %}
    BRIT | CLOSECYCLE Showcase {{ object.name }}
{% endblock title %}

{% block detail_header %}
    Showcase: {{ object.name }}
{% endblock detail_header %}

{% block detail_body %}
    <p class="card-text">
        <strong>Name:</strong>
        <br>
        {{ object.name }}
    </p>
    {% if object.country %}
        <p class="card-text">
            <strong>Country:</strong>
            <br>
            {{ object.country }}
        </p>
    {% endif %}
    {% if object.catchment %}
        <p class="card-text">
            <strong>Catchment:</strong>
            <br>
            {{ object.catchment }}
        </p>
    {% endif %}
    {% if object.description %}
        <p class="card-text">
            <strong>Description:</strong>
            <br>
            {{ object.description|markdown_to_html }}
        </p>
    {% endif %}
    {% block additional_details %}
        {% if object.process_chain %}
            <hr>
            <h5>Processing chain</h5>
            <ol>
                {% for proc in object.process_chain %}
                    <li>
                        <a href="{% url 'processes:processtype-detail' proc.id %}">{{ proc.name }}</a>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
        {% if object.showcase_materials.all %}
            <hr>
            <h5>Materials</h5>
            <ul>
                {% for link in object.showcase_materials.all %}
                    <li>
                        <a href="{% url 'material-detail' link.material_id %}">{{ link.material.name }}</a>
                        ({{ link.get_role_display }})
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if object.samples.all %}
            <hr>
            <h5>Samples</h5>
            <ul>
                {% for sample in object.samples.all %}
                    <li>
                        <a href="{% url 'sample-detail' sample.id %}">{{ sample.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if object.sample_series.all %}
            <hr>
            <h5>Sample series</h5>
            <ul>
                {% for series in object.sample_series.all %}
                    <li>
                        <a href="{% url 'sampleseries-detail' series.id %}">{{ series.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if object.scenarios.all %}
            <hr>
            <h5>Scenarios</h5>
            <ul>
                {% for scenario in object.scenarios.all %}
                    <li>
                        <a href="{% url 'scenario-detail' scenario.id %}">{{ scenario.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock additional_details %}
{% endblock detail_body %}
