{% extends 'filtered_list.html' %}
{% load user_created_object_tags %}

{% block title %}BRIT | Inventories{% endblock %}

{% block list_card_header %}<strong><i class="fas fa-fw fa-chart-bar"></i> Inventories</strong>{% endblock %}

{% block list_table %}
    <table class="table table-responsive-stack">
        <thead>
        <tr>
            <th>Name</th>
            <th>Catchment</th>
            <th>Description</th>
            {% if object_list.model|is_user_created %}
                <th class="actions-column">Status/Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td data-label="Name"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
                <td data-label="Catchment"><a href="{{ object.catchment.get_absolute_url }}">{{ object.catchment }}</a>
                </td>
                <td data-label="Description">{{ object.description }}</td>
                {% if object_list.model|is_user_created %}
                    <td class="actions-column mobile-no-label">
                        {% include 'object_management/status_actions_cell.html' %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
{% endblock %}