{% extends 'base.html' %}
{% load static %}

{% block title %}Inventories | {{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-12 col-lg-3 mb-4">
            {% include 'scenario_summary_map_card.html' %}
            {% include 'scenario_status_card.html' %}
        </div>
        <div class="col col-12 col-lg-9">
            {% for config in object.scenarioconfiguration_set.all %}
                <div class="row mb-4">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header"><strong>Inventory {{ forloop.counter }}</strong></div>
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Feedstock:</strong>
                                    <a href="{% url 'sampleseries-detail' config.feedstock.id %}">
                                        {{ config.feedstock.name }}
                                    </a>
                                </p>
                                <p class="card-text">
                                    <strong>Dataset:</strong> {{ config.geodataset.name }}
                                </p>
                                <p class="card-text">
                                    <strong>Algorithm:</strong> {{ config.algorithm.name }}
                                </p>
                                <p class="card-text">
                                    <strong>Parameters:</strong>
                                </p>
                                <ul>
                                    {% for setting in config.scenarioparametersetting_set.all %}
                                        <li><strong>{{ setting.parameter_value.parameter.descriptive_name }}:</strong>
                                            {{ setting.parameter_value }}
                                            (<a href="{% url 'source-detail' setting.parameter_value.source.id %}">
                                                {{ setting.parameter_value.source }}
                                            </a>)
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'scenarioinventory-update' config.id %}" class="nowrap mr-3">
                                    <i class="fas fa-fw fa-edit"></i> Change parameters
                                </a>
                                <a href="{% url 'scenarioinventory-delete-modal' config.id %}"
                                   class="nowrap mr-3 modal-link">
                                    <i class="fas fa-fw fa-trash"></i> Remove
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if user.is_authenticated %}
                <!-- Add inventory button -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <a href="{% url 'scenarioconfiguration-create' scenario.id %}">
                                    <i class="fas fa-fw fa-plus"></i> Add inventory
                                </a>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}