<div class="form-row">
    <div class="col-12">
        <!-- Grouped Container for Slider, Label, and Checkbox -->
        <div class="slider-checkbox-group p-3 border rounded bg-light">
            <!-- Slider -->
            <div class="form-group">
                <div
                    class="numeric-slider-range ui-slider ui-slider-horizontal ui-slider-range"
                    id="{{ widget.attrs.id }}"
                    {% include "django/forms/widgets/attrs.html" %}
                ></div>
            </div>

            <!-- Slider Value Label -->
            <div class="form-group">
                <span
                    class="numeric-slider-range-text font-italic"
                    id="{{ widget.attrs.id }}_text"
                >
                    {{ widget.value_text }}
                </span>
            </div>

            <!-- Unknown Checkbox -->
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input
                        class="checkbox-include-unknown custom-control-input"
                        type="checkbox"
                        id="{{ widget.attrs.id }}_unknown"
                    >
                    <label class="custom-control-label" for="{{ widget.attrs.id }}_unknown">
                        Include Unknown
                    </label>
                    <small class="form-text text-muted">
                        Selecting "Include Unknown" will add null values to your range.
                    </small>
                </div>
            </div>
        </div>

        <!-- Render Subwidgets -->
        {% for widget in widget.subwidgets %}
            {% include widget.template_name %}
        {% endfor %}
    </div>
</div>
