{% extends 'filtered_map.html' %}

{% block extra_cards %}

    <div class="card shadow">
        <div class="card-header"
             role="button"
             data-toggle="collapse"
             href="#learning-card-body"
             aria-expanded="true"
             aria-controls="learning-card-body">
            <b>Learning material</b>
        </div>
        <div class="card-body collapse" id="learning-card-body">
            <p class="card-text">
                To learn more about residue wood pathways in bioresource management, check out the Lectures for
                Future series "Residue and by-Product Based Bioresources" of the Hamburg Open Online University.
                Recommended lecture for this topic:<br>
                <a href="https://www.hoou.de/projects/lff/pages/residue-and-by-product-based-bioresources"
                   target="_blank">"Wood Pathways: From Sustainable Forests to Sustainable Products"
                </a>
            </p>
        </div>
    </div>

{% endblock %}
