{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load render_table from django_tables2 %}

{% block content %}

    <!-- start basic material definition -->
    <div class="row">
        <div class="col col-6">
            <div class="card shadow">
                <div class="card-header">
                    <b>Material description</b>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <tr>
                            <td class="col-3"><strong>Name:</strong></td>
                            <td>{{ object.material.name }}</td>
                        </tr>
                        <tr>
                            <td class="col-3"><strong>Description:</strong></td>
                            <td>{{ object.material.description }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0);"
                       class="modal-link"
                       data-link="{% url 'material_update' object.material.id %}?next={{ request.path }}">
                        Edit <i class="fas fa-fw fa-edit"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end basic material definition -->

    <!-- start material composition -->
    <div class="row mt-2">
        <div class="col">
            <div class="card shadow">
                <div class="card-header">
                    <b>Material composition</b>
                </div>
                <div class="card-body">
                    {% for group_settings, content in composition.items %}
                        <div class="row mb-3">
                            <div class="col">
                                <div class="card border-left-primary border">
                                    <div class="card-header">
                                        <a href="javascript:void(0);"
                                           class="modal-link"
                                           data-link="{% url 'material_component_group_detail' group_settings.group.id %}">
                                            <b>{{ group_settings.group.name }}</b>
                                        </a>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="row">
                                            <div class="col col-6">
                                                {% render_table content.averages_table %}
                                            </div>
                                            <div class="col col-6 px-4 py-5">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <b>Fractions base on:</b>
                                                        </td>
                                                        <td>{{ group_settings.fractions_of.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>Sources:</b>
                                                        </td>
                                                        <td>
                                                            {% for source in group_settings.sources.all %}
                                                                <p>
                                                                    <a href="javascript:void(0)"
                                                                       class="modal-link"
                                                                       data-link="{% url 'literature source_detail' source.id %}">
                                                                        {{ source.abbreviation }}
                                                                    </a>
                                                                </p>
                                                            {% endfor %}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div>
                                                    <a href="javascript:void(0)"
                                                       class="modal-link"
                                                       data-link="{% url 'add_source' group_settings.id %}">
                                                        <i class="fas fa-fw fa-plus"></i> Add source
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0)"
                                                       class="modal-link"
                                                       data-link="{% url 'add_seasonal_variation' group_settings.id %}">
                                                        <i class="fas fa-fw fa-plus"></i> Add seasonal variation
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <table class="table m-0 p-0">
                                                    <tbody>
                                                    {% for table in content.distribution_tables %}
                                                        <tr class="accordion-toggle"
                                                            data-toggle="collapse"
                                                            data-target="#distribution-table-group-{{ group_settings.id }}">
                                                            <td>
                                                                <a href="javascript:void(0);">
                                                                    Show seasonal variation
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr class="accordion-body collapse" id="{{ table.id }}">
                                                            <td class="p-0">
                                                                {% render_table table %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <a id="remove-group-{{ group.id }}"
                                           class="modal-link"
                                           data-link="{% url 'material_component_group_remove' group_settings.id %}"
                                           href="javascript:void(0);">
                                            Remove <i class="fas fa-fw fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="card border-left-primary border">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <a href="javascript:void(0);"
                               class="modal-link"
                               data-link="{% url 'material_add_component_group' object.id %}">
                                <i class="fas fa-fw fa-plus"></i> Add component group
                            </a>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end material composition -->

{% endblock content %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function () {

            $(".modal-link").each(function () {
                $(this).modalForm({
                    formURL: $(this).data()["link"],
                    errorClass: ".is-invalid"
                })
            });

        });
    </script>

{% endblock javascript %}