{% extends 'base.html' %}

{% block content %}
    <h2>Material Detail</h2>
    <div class="row">
        <div class="col col-6">
            <div class="card shadow">
                <div class="card-header">
                    <b>Material basics</b>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <tr>
                            <td class="col-3"><strong>Name:</strong></td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td class="col-3"><strong>Description:</strong></td>
                            <td>{{ object.description }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <h2 class="mt-3">Components</h2>
    {% for group_name, group_content in object.grouped_components.items %}
        <div class="row">
            <div class="col">
                <div class="card shadow border-left-primary border">
                    <div class="card-header">
                        <b>{{ group_name }}</b> -
                        {% if group_content.static %}
                            static composition
                        {% else %}
                            variable composition
                        {% endif %}
                    </div>
                    <div class="card-body p-0">
                        <table class="table m-0">
                            <thead>
                            <tr class="row m-0">
                                <th class="d-inline-block col-2">Component name</th>
                                <th class="d-inline-block col-2">Fraction</th>
                                <th class="d-inline-block col-2">of</th>
                                <th class="d-inline-block col-3">Source</th>
                                <th class="d-inline-block col-3"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for component in group_content.components %}
                                <tr class="row m-0">
                                    <td class="d-inline-block col-2">
                                        {{ component.name }}
                                    </td>

                                    {% if group_content.static %}
                                        <td class="d-inline-block col-2">{{ component.average }}
                                            +- {{ component.standard_deviation }}</td>
                                        <td class="d-inline-block col-2">{{ component.fraction_of.name }}</td>
                                    {% endif %}

                                    <td class="d-inline-block col-3">{{ component.literature_source.abbreviation }}</td>
                                    <td class="d-inline-block col-3">
                                        <a href="{% url 'material_component_update' component.material.id component.id %}">
                                            edit <i class="fas fa-fw fa-edit"></i>
                                        </a>
                                        <a id="delete-component-{{ component.id }}"
                                           href="{% url 'material_component_delete' component.material.id component.id %}">
                                            delete <i class="fas fa-fw fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% if not group_content.static %}
                                    <tr class="d-flex">
                                        <td class="d-inline-block col-1">Jan</td>
                                        <td class="d-inline-block col-1">Feb</td>
                                        <td class="d-inline-block col-1">Mar</td>
                                        <td class="d-inline-block col-1">Apr</td>
                                        <td class="d-inline-block col-1">May</td>
                                        <td class="d-inline-block col-1">Jun</td>
                                        <td class="d-inline-block col-1">Jul</td>
                                        <td class="d-inline-block col-1">Aug</td>
                                        <td class="d-inline-block col-1">Sep</td>
                                        <td class="d-inline-block col-1">Oct</td>
                                        <td class="d-inline-block col-1">Nov</td>
                                        <td class="d-inline-block col-1">Dec</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row mt-3">
        <div class="col">
            <a href="{% url 'material_component_create' material.id %}">
                <i class="fas fa-fw fa-plus"></i> Add component
            </a>
        </div>
    </div>

{% endblock content %}