{% extends 'base.html' %}

{% block content %}

    <!-- first row -->
    <div class="row">

        <!-- Scenario basics card -->
        <div class="col col-6">
            <div class="card shadow">
                <div class="card-header"><b>Scenario basics</b></div>
                <div class="card-body p-0">
                    <table class="table">
                        <tr>
                            <td class="col-3"><b>Name:</b></td>
                            <td>{{ object.name }}</td>
                        <tr>
                            <td class="col-3"><b>Description:</b></td>
                            <td>{{ object.description }}</td>
                        <tr>
                            <td class="col-3"><b>Case study region:</b></td>
                            <td>
                                {{ object.region }}
                                <a href="{% url 'catchment_list' %}">
                                    <i class="fas fa-fw fa-eye"></i>
                                </a>
                            </td>
                        <tr>
                            <td class="col-3"><b>Catchment:</b></td>
                            <td>
                                {{ object.catchment }}
                                <a href="{% url 'catchment_list' %}">
                                    <i class="fas fa-fw fa-eye"></i>
                                </a>
                            </td>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0);" class="modal-link"
                       data-link="{% url 'scenario_update' scenario.id %}">
                        <i class="fas fa-fw fa-edit"></i> Edit scenario definition
                    </a>
                </div>
            </div>
        </div>
        <!-- end of scenario basics card -->

        <!-- Options card -->
        <div class="col col-6">
            <div class="card shadow">
                <div class="card-header"><b>Options</b></div>
                <div class="card-body p-0">
                    <table class="table">
                        <tr>

                            {# status = CHANGED #}
                            {% if object.status == 1 %}
                                <td class="col-2">
                                    <form method="post">
                                        {% csrf_token %}
                                        <button type="submit" name="run" class="btn btn-primary">
                                            Run
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    Run the evaluation. Depending on the scope of your scenario, this might take a while
                                    . While the evaluation is running, you can safely close the browser and return later.
                                </td>
                                {# status = RUNNING #}
                            {% elif object.status == 2 %}
                                <td class="col-2">
                                    <a class="btn btn-primary" href="{% url 'scenario_result' object.id %}">
                                        Show progress
                                    </a>
                                </td>
                                <td>The scenario evaluation is currently running.</td>
                                {# status = FINISHED #}
                            {% elif object.status == 3 %}
                                <td class="col-2">
                                    <a class="btn btn-primary" href="{% url 'scenario_result' object.id %}">
                                        Show
                                    </a>
                                </td>
                                <td>
                                    This is a summary of the complete configuration of this scenario. The scenario has
                                    already been evaluated.
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="col-2">
                                <a class="btn btn-primary" href="{% url 'download_scenario_summary' object.id %}">
                                    Download
                                </a>
                            </td>
                            <td>Download the scenario definition as .json file</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <!-- end of general summary row -->

    <!-- Inventory definition row -->
    <div class="row mt-2">
        <div class="col">
            <div class="card shadow">
                <div class="card-header"><b>Inventories</b></div>
                <div class="card-body">
                    {% for feedstock, algos in config.items %}
                        {% for algo, parameters in algos.items %}
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="card border-left-primary border">
                                        <div class="card-header">
                                            <h6 class="m-0 font-weight-bold text-primary">Feedstock: {{ feedstock.name }} - Dataset: {{ algo.geodataset }} - Algorithm: {{ algo.name }}</h6>
                                        </div>
                                        <div class="card-body">
                                            <table class="table">
                                                <tr><th>Parameters:</th></tr>
                                                {% for parameter, value in parameters.items %}
                                                    <tr>
                                                        <td>
                                                            {{ parameter.descriptive_name }}: {{ value }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <div class="card-footer">
                                            <a href="{% url 'scenario_update_config' scenario.id algo.id %}"
                                               class="mx-2">
                                                <i class="fas fa-fw fa-edit"></i> Edit
                                            </a>
                                            <a href="{% url 'remove_algorithm_from_scenario' scenario.id feedstock.id algo.id %}"
                                               class="mx-2">
                                                <i class="fas fa-fw fa-trash"></i> Remove from configuration
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="card border-left-primary border">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <a href="{% url 'add_scenario_configuration' scenario.id %}">
                                <i class="fas fa-fw fa-plus"></i> Add inventory
                            </a>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <!-- end of inventory definition row -->

{% endblock %}

{% block javascript %}
    {{ block.super }}



{% endblock javascript %}