{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Define shares for timestep x</h2>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ formset|crispy }}
                        <button class="btn btn-primary" type="submit">Save</button>
                        <a class="btn btn-secondary" href="{% url 'material_component_group_list' %}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}