{% extends 'base.html' %}
{% load static %}

{% block title %}BRIT | Bioresource Information Tool{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-12 col-md-6">
            <div class="card h-100">
                <div class="card-header"><b>Welcome!</b></div>
                <div class="card-body">
                    <p>Welcome to the Bioresource Information Tool!</p>
                    <p>
                        This tool is part of the FLEXIBI Decision Support Tool for small-scale flexi-feed biorefineries.
                        You can find information about sources, quantities and properties of residue-based bioresources.
                        You explore the case studies that have been created in the FLEXIBI project, change parameters
                        and assumptions to create your own scenarios. This site is the prototype of the system that
                        is still actively developed. If you find any bugs or have feedback, please let us know and
                        write a short note to <a
                            href="mailto:info@bioresource-tools.net">info@bioresource<span>&#8209;</span>tools.net</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col d-none d-md-block">
            <div class="card h-100">
                <div class="card-header"><b>Updates</b></div>
                <div class="card-body">
                    <p>
                        This tool is designed to provide you with information about bioresources. These information can
                        be expected amounts of different materials in your region of interest or material compositions.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card h-100">
                <div class="card-header"><a href="{% url 'bioresource_explorer_home' %}"><b>Maps</b></a></div>
                <div class="card-img-top">
                    <a class="d-flex align-items-center justify-content-center stretched-link"
                       href="{% url 'maps_list' %}">
                        <img class="w-100 m-0" src="{% static 'img/cover_card_maps.png' %}"
                             alt="Maps Module Cover Image">
                    </a>
                </div>
                <div class="card-body">
                    Explore maps of sources of bioresources found in the implemented case studies. You can filter
                    and find out more about the spatial distribution of potential resources.
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card h-100">
                <div class="card-header"><a href="{% url 'material_list' %}"><b>Materials</b></a></div>
                <div class="card-img">
                    <a class="d-flex align-items-center justify-content-center"
                       href="{% url 'material_list' %}">
                        <img class="w-100 m-0" src="{% static 'img/cover_card_materials.jpg' %}"
                             alt="Materials Module Cover Image">
                    </a>
                </div>
                <div class="card-body">
                    This is a database of materials that are bioresources found in the implemented case studies.
                    It characterizes the material composition and its seasonal change.
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card h-100">
                <div class="card-header"><b>Inventories</b></div>
                <div class="card-img">
                    <img class="w-100 m-0 p-1" src="{% static 'img/coming_soon.png' %}"
                         alt="Inventories Module Cover Image">
                </div>
                <div class="card-body">
                    Inventories are case studies about which bioresources are available in a given region. Explore
                    ready case studies from our research projects or create your own scenarios.
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3 mt-4">
            <div class="card h-100">
                <div class="card-header"><b>Stakeholders</b></div>
                <div class="card-img">
                    <img class="w-100 m-0 p-1" src="{% static 'img/coming_soon.png' %}"
                         alt="Inventories Module Cover Image">
                </div>
                <div class="card-body">
                    Find out who are the main stakeholders for the management of the bioresources you are interested
                    in. The may be producing, collecting, transporting or treating organisations.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col d-md-none">
            <div class="card">
                <div class="card-header"><b>Updates</b></div>
                <div class="card-body">
                    <table class="table-boderless">
                        <tr>
                            <td><b>04.10.2021</b></td>
                            <td>
                                <b>Release 0.1</b>
                                <ul>
                                    <li>Main menu</li>
                                    <li>Registration</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}