{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header"><b>Item details</b></div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td class="col-3"><strong>Name:</strong></td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td class="col-3"><strong>Description:</strong></td>
                            <td>{{ object.description }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}

{% endblock javascript %}